In [ ]:
DECLARE  @rafo_model VARBINARY(MAX)
IF @rec_segment > 120   
    SET @rafo_model = (SELECT rafo_model FROM dbo.RAFO_IFC_DB_anchor_121models_3
    WHERE car_segment= 121 )
ELSE  
    SET @rafo_model = (SELECT rafo_model FROM dbo.RAFO_IFC_DB_anchor_121models_3 
    WHERE car_segment= @rec_segment );  

EXECUTE dbo.price_record_DB_calculation @rafo_model = @rafo_model,
                                        @predicted_price = @predicted_price OUTPUT,
                                        @predicted_min =  @predicted_min OUTPUT,
                                        @predicted_max =  @predicted_max OUTPUT,
                                        @predicted_median =  @predicted_median OUTPUT,
                                        @predicted_std =  @predicted_std OUTPUT

UPDATE coded_DB_anchor4_record
SET pred_price = @predicted_price
WHERE model=@rec_model;

INSERT INTO pricing_results
VALUES ( @predicted_price, @predicted_min, @predicted_max, @predicted_median,  @predicted_std  );

In [ ]:
USE [Pricing]
GO

DECLARE @return_value int,
        @predicted_price int,
        @predicted_min int,
        @predicted_max int,
		@predicted_median int,
		@predicted_std int,
		@rec_segment int,
		@anchor int,
		@age int,
		@make_model nvarchar(40),
		@revage float,
		@revkm float,
		@make_cd int,
		@model_cd int,
		@body_cd int,
		@fuel_cd int,
		@km_range int,
		@age_years int,
		@map_anchor int,
		@year_med_anchor int,
		@med_anchor int,
		@rec_model nvarchar(30)

EXEC	@return_value = [dbo].[complete_record_DB_price_interval_calculation]
		@record_make = N'skoda',
		@record_model = N'octavia',
		@record_body = N'combi',
		@record_fueltype = N'diesel',
		@record_kilometer = 40000,
		@record_makeyear = 2015,
		@reg_month = 1,
		@record_power = 77,
		@record_sizeccm = 1568,
		@record_automat = 0,
		@record_drive = 0,
		@mec_con = 3,
		@ext_con = 3,
		@record_isfirstowner = 0,
		@record_isservicebook = 1,
		@record_isvat = 0,
		@record_autoaircondition = 0,
		@record_airconditioned = 1,
		@record_isxenon = 0,
		@record_isled = 0,
		@record_isnavigation = 0,
		@record_iscruisecontrol = 0,
		@record_isinleather = 0,
		@record_airbags = 1,
		@record_price = 0,
		@predicted_price = @predicted_price OUTPUT,
		@predicted_min = @predicted_min OUTPUT,
		@predicted_max = @predicted_max OUTPUT,
		@predicted_median = @predicted_median OUTPUT,
		@predicted_std = @predicted_std OUTPUT,
		@rec_segment = @rec_segment OUTPUT,
		@anchor = @anchor OUTPUT,
		@age = @age OUTPUT,
		@make_model = @make_model OUTPUT,
		@revage = @revage OUTPUT,
		@revkm = @revkm OUTPUT,
		@make_cd = @make_cd OUTPUT,
		@model_cd = @model_cd OUTPUT,
		@body_cd = @body_cd OUTPUT,
		@fuel_cd = @fuel_cd OUTPUT,
		@km_range = @km_range OUTPUT,
		@age_years = @age_years OUTPUT,
		@map_anchor = @map_anchor OUTPUT,
		@year_med_anchor = @year_med_anchor OUTPUT,
		@med_anchor = @med_anchor OUTPUT,
		@rec_model = @rec_model OUTPUT

SELECT	@predicted_price as N'@predicted_price',
		@predicted_min as N'@predicted_min',
		@predicted_max as N'@predicted_max',
		@predicted_median as N'@predicted_median',
		@predicted_std as N'@predicted_std',
		@rec_segment as N'@rec_segment',
		@anchor as N'@anchor',
		@age as N'@age',
		@make_model as N'@make_model',
		@revage as N'@revage',
		@revkm as N'@revkm',
		@make_cd as N'@make_cd',
		@model_cd as N'@model_cd',
		@body_cd as N'@body_cd',
		@fuel_cd as N'@fuel_cd',
		@km_range as N'@km_range',
		@age_years as N'@age_years',
		@map_anchor as N'@map_anchor',
		@year_med_anchor as N'@year_med_anchor',
		@med_anchor as N'@med_anchor',
		@rec_model as N'@rec_model'

SELECT	'Return Value' = @return_value

GO

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[complete_record_DB_price_interval_calculation]    Script Date: 6/29/2018 10:42:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[complete_record_DB_price_interval_calculation](
                                               @record_make nvarchar(20),
                                               @record_model nvarchar(20),
                                               @record_body nvarchar(20),
										       @record_fueltype nvarchar(10),
										       @record_kilometer int,
										       @record_makeyear int,
											   @reg_month int, 
										       @record_power int,
										       @record_sizeccm int,
										       @record_automat int,
										       @record_drive int,
										       @mec_con int,
                                               @ext_con int,	    
										       @record_isfirstowner tinyint,
                                               @record_isservicebook tinyint,
                                               @record_isvat tinyint,
										       @record_autoaircondition tinyint,
										       @record_airconditioned tinyint,
										       @record_isxenon tinyint,
										       @record_isled tinyint,
										       @record_isnavigation tinyint,
										       @record_iscruisecontrol tinyint,
										       @record_isinleather tinyint, 
										       @record_airbags tinyint,
                                               @record_price int,
											   @predicted_price int OUTPUT,
											   @predicted_min int OUTPUT,
											   @predicted_max int OUTPUT,
											   @predicted_median int OUTPUT,
											   @predicted_std int OUTPUT,
											   @rec_segment int OUTPUT,
											   @anchor int OUTPUT,
											   @age int OUTPUT,
											   @make_model nvarchar(40) OUTPUT,
											   @revage float OUTPUT,
											   @revkm float OUTPUT,
											   @make_cd int OUTPUT,
											   @model_cd int OUTPUT,
											   @body_cd int OUTPUT,
											   @fuel_cd int OUTPUT,
											   @km_range int OUTPUT,
											   @age_years int OUTPUT,
											   @map_anchor int OUTPUT,
											   @year_med_anchor int OUTPUT,
											   @med_anchor int OUTPUT,
											   @rec_model nvarchar(30) OUTPUT
											   )
AS
BEGIN

DROP TABLE IF EXISTS coded_DB_anchor4_record;
CREATE TABLE [dbo].[coded_DB_anchor4_record]([make] [nvarchar](20) not NULL,
	                                 [model] [nvarchar](20) not NULL,
									 [make_model] [nvarchar](40) not NULL,
								     [kilometer] [int] not NULL,
	                                 [makeyear] [int] not NULL,
	                                 [power] [int] not NULL,
                                	 [sizeccm] [int] not NULL,
	                                 [body] [nvarchar](20) not NULL,
                                	 [fueltype] [nvarchar](10) not NULL,
                                  	 [automat] [int] NULL,
                                 	 [drive] [int] NULL,
									 [mec_con] [int]  NULL,
                                     [ext_con] [int] NULL,
							         [isfirstowner] [tinyint] NULL,
                                     [isservicebook] [tinyint] NULL,
                                     [isvat] [tinyint] NULL,
									 [autoaircondition] [tinyint] NULL,
									 [airconditioned] [tinyint] NULL,
									 [isxenon] [tinyint] NULL,
									 [isled] [tinyint] NULL,
									 [isnavigation] [tinyint] NULL,
									 [iscruisecontrol] [tinyint] NULL,
									 [isinleather] [tinyint] NULL, 
									 [airbags] [tinyint] NULL,
                                	 [age] [int] NULL,
									 [revage] [float] NULL,
                                 	 [revkm] [float] NULL,
	                                 [make_cd] [int] NULL,
                                 	 [model_cd] [int] NULL,
                                	 [body_cd] [int] NULL,
	                                 [fuel_cd] [int] NULL,
	                                 [km_range] [int] NULL,
	                                 [age_years] [int] NULL,
									 [segment] [int] NULL,
									 [map_anchor] [int] NULL, 
	                                 [year_med_anchor] [int] NULL,
									 [med_anchor] [int] NULL,
									 [anchor] [int] NULL,
	                                 [price] [int] NULL,
									 [pred_price] [int] NULL  );

DROP TABLE IF EXISTS [dbo].[pricing_results];
CREATE TABLE [dbo].[pricing_results]( [pred_price] [int] NULL,
									  [pred_min] [int] NULL,
									  [pred_max] [int] NULL,
									  [pred_median] [int] NULL,
									  [pred_std] [int] NULL   );

EXEC sp_execute_external_script
@language = N'Python',
@script = N'
import pandas as pd
from ipykernel import kernelapp as app
import pypyodbc as podbc
import numpy as np
import datetime as dt 
import time as tm
import datetime
cur_month = int(str(datetime.datetime.now())[5:7])
makes = ["lincoln", "mg", "fisker", "iveco", "lexus", "infiniti", "porsche", "daewoo", "rover", "hummer",
         "subaru", "smart", "opel", "mini", "renault", "fiat", "mercedes", "honda", "toyota", "seat",
		 "chevrolet", "lancia", "bmw", "ford", "audi", "citroen", "volvo", "skoda", "peugeot", "nissan",
	     "mitsubishi", "mazda", "kia", "vw", "land rover", "jaguar", "hyundai", "jeep", "saab", "alfa romeo",
		 "vaz-lada", "suzuki", "dacia", "daihatsu", "dodge", "cadillac", "chrysler", "ssang yong", "isuzu",
		 "alpina", "aston martin", "maserati", "gaz", "bentley", "trabant", "moskvic", "tatra", "awz",
		 "zastava"]
models = model_code["make_model"].unique()
bodies = ["platform", "van", "sedan/saloon", "hatchback", "combi", "compact mpv", "pickup",
          "cooler - freezer", "mpv", "suv", "coupe", "bus", "off road", "convertible", "boxvan",
		  "tipper", "tow car"]
fuels = ["diesel", "petrol", "cng", "hybrid", "lpg", "elektromotor"]
def to_four(dv):
    if(dv==1):
        return 4
    return 0
if ((reg_month>12)|(reg_month==0)):
    reg_month = 1
cars1 = pd.DataFrame()  
cars1.loc[0,"make"] = record_make  
cars1.loc[0,"model"] = record_model 
cars1.loc[0,"kilometer"] = int(record_kilometer)
cars1.loc[0,"makeyear"] = int(round(int(record_makeyear),0))
cars1.loc[0,"power"] = int(round(int(record_power),0))
cars1.loc[0,"sizeccm"] = int(record_sizeccm) 
cars1.loc[0,"body"] = record_body  
cars1.loc[0,"fueltype"] = record_fueltype  
cars1.loc[0,"automat"] = int(record_automat) 
cars1.loc[0,"drive"] = int(to_four(record_drive))
cars1.loc[0,"mec_con"] = int(mec_con)
cars1.loc[0,"ext_con"] = int(ext_con)
cars1.loc[0,"price"] = int(record_price)
cols_to_fill = ["make","model","body","fueltype"]
for j in range(0,4):
    if (cars1.loc[0,cols_to_fill[j]] ==""):
        cars1.loc[0,cols_to_fill[j]] = "unknown"
cars1["make_model"] = cars1["make"] + cars1["model"] 
cars1.loc[0,"kilometer"] = 1+ cars1.loc[0,"kilometer"]
cars1.loc[0,"age"] = int(2*((2018-cars1.loc[0,"makeyear"])*12+cur_month-int(reg_month))+1)
addins = ["isfirstowner","isservicebook","isvat","autoaircondition","airconditioned",
          "isxenon","isled","isnavigation","iscruisecontrol","isinleather","airbags"]
impr_features = [record_isfirstowner, record_isservicebook, record_isvat, record_autoaircondition,
                 record_airconditioned, record_isxenon, record_isled, record_isnavigation,
				 record_iscruisecontrol, record_isinleather, record_airbags]
ilen = len(impr_features)
for i in range(0,ilen):
    cars1.loc[0, addins[i]] = int(impr_features[i])
columns_to_keep=["make","model","make_model","kilometer","age","power","sizeccm","body","fueltype","automat",
                 "drive","mec_con","ext_con","isfirstowner","isservicebook","isvat","autoaircondition",
				 "airconditioned","isxenon","isled","isnavigation","iscruisecontrol","isinleather","airbags",
				 "makeyear","price"]
cars1 = cars1[columns_to_keep]
mage = 26728
mkm = 18859
cars1["revage"] = mage/cars1["age"]
cars1["revkm"] = mkm/(cars1["kilometer"]/1000)
cars1["revage"] = cars1["revage"].apply(lambda rr: float("%.2f" %rr))
cars1["revkm"] = cars1["revkm"].apply(lambda rr: float("%.2f" %rr))
columns_to_mask = ["make","make_model","body","fueltype"]
cols_to_mask_codes = ["make_cd","model_cd","body_cd","fuel_cd"]
masks = [makes, models, bodies, fuels]
lens = [len(makes),len(models), len(bodies), len(fuels)]
def mask_make(mm,dl,mask):
    for i in range(0, dl):
        if ((mm == mask[i])==True):
            return i+1
        if (mm == "unknown"):
            return 0
    return dl+1
for j in range(0,4):
    cars1[cols_to_mask_codes[j]] = cars1[columns_to_mask[j]].apply(mask_make,args=(lens[j],masks[j]))   

columns_to_keep = ["make","model","make_model","kilometer","age","power","sizeccm","body","fueltype",
                   "automat","drive","mec_con","ext_con","isfirstowner","isservicebook","isvat",
				   "autoaircondition","airconditioned","isxenon","isled","isnavigation","iscruisecontrol",
				   "isinleather","airbags","makeyear","revage","revkm","make_cd","model_cd","body_cd",
				   "fuel_cd","price"]
cars1 = cars1[columns_to_keep] 
cars1["price"] = cars1["price"].apply(lambda rr: float("%.3f" %(int(rr/1000))))
cars1["segment"] = 0
age = int(cars1.loc[0,"age"])
revage = float(cars1.loc[0,"revage"])
revkm = float(cars1.loc[0,"revkm"]) 
make_cd = int(cars1.loc[0,"make_cd"]) 
model_cd = int(cars1.loc[0,"model_cd"]) 
body_cd = int(cars1.loc[0,"body_cd"])
fuel_cd = int(cars1.loc[0,"fuel_cd"])
columns_to_keep = ["make","model","make_model","kilometer","age","power","sizeccm","body","fueltype",
                   "automat","drive","mec_con","ext_con","isfirstowner","isservicebook","isvat",
				   "autoaircondition","airconditioned","isxenon","isled","isnavigation","iscruisecontrol",
				   "isinleather","airbags","makeyear","revage","revkm","make_cd","model_cd","body_cd",
				   "fuel_cd","price"]
cars1 = cars1[columns_to_keep] 
cars1["price"] = cars1["price"].apply(lambda rr: int(rr))
def fix_models(mm):
    if (mm=="fordfocus c-max"):
        return "fordfocus"
    if (mm=="renaultmegane scenic"):
        return "renaultscenic"
    if (mm=="opelzafira tourer"):
        return "opelzafira"
    if (mm=="seataltea xl"):
        return "seataltea"
    if (mm=="mazda323"):
        return "mazda3"
    if (mm=="nissanalmera tino"):
        return "nissanalmera"
    if (mm=="mercedesgle coupe"): 
        return "mercedesgle"                  
    if (mm=="kiapro_ceed"):
        return "kiaceed"
    if (mm=="hyundaiatos prime"):
        return "hyundaiatos"
    if (mm=="hyundaih-1 tour"):
        return "hyundaih-1"
    if (mm=="chryslerp. t. cruiser"):
        return "chryslerp. t. cruiser"
    if (mm=="toyotaland cruiser v8"):
        return "toyotaland cruiser"
    if (mm=="audiallroad a4"):
        return "audiallroad"
    return mm
cars1["make_model"] = cars1["make_model"].apply(fix_models)
def find_range(myp):
    if (myp<=10):
        return 0
    if ((myp>10)&(myp<=30)):
        return 1
    if ((myp>30)&(myp<=50)):
        return 2
    if ((myp>50)&(myp<=70)):
        return 3
    if ((myp>70)&(myp<=90)):
        return 4
    if ((myp>90)&(myp<=110)):
        return 5
    if ((myp>110)&(myp<=130)):
        return 6
    if ((myp>130)&(myp<=150)):
        return 7
    if ((myp>150)&(myp<=170)):
        return 8
    if ((myp>170)&(myp<=190)):
        return 9
    if ((myp>190)&(myp<=220)):
        return 10
    if ((myp>220)&(myp<=250)):
        return 11
    if ((myp>250)&(myp<=300)):
        return 12
    return 13
cars1.loc[0,"kilometer"] = float("%.3f" %(cars1.loc[0,"kilometer"]/1000))
cars1.loc[0,"km_range"] = find_range(cars1.loc[0,"kilometer"])
rec_model = record_model
make_model = cars1.loc[0,"make_model"]
km_range = int(cars1.loc[0,"km_range"])
def from2000_to_2017(yy):
    if(yy<2000):
        return 2000
    if(yy>2017):
        return 2017
    return yy
cars1.loc[0,"makeyear"] = from2000_to_2017(cars1.loc[0,"makeyear"])
cars1.loc[0,"age_years"] = int(2018 - cars1.loc[0,"makeyear"])
age_years = int(cars1.loc[0,"age_years"])
',
@input_data_1 = N'
SELECT * FROM dbo.model_codes ; 
',
@input_data_1_name = N'model_code',

@params = N'@record_make nvarchar(20), @record_model nvarchar(20), @record_body nvarchar(20),
			@record_fueltype nvarchar(10), @record_kilometer int, @record_makeyear int, @reg_month int, 
			@record_power int, @record_sizeccm int, @record_automat int, @record_drive int,
			@mec_con int, @ext_con int, @record_isfirstowner tinyint, @record_isservicebook tinyint,
			@record_isvat tinyint, @record_autoaircondition tinyint, @record_airconditioned tinyint,
			@record_isxenon tinyint, @record_isled tinyint, @record_isnavigation tinyint,
			@record_iscruisecontrol tinyint, @record_isinleather tinyint, @record_airbags tinyint,
			@record_price int, @age int OUTPUT, @make_model varchar(40) OUTPUT, @revage float OUTPUT,
			@revkm float OUTPUT, @make_cd int OUTPUT, @model_cd int OUTPUT,	@body_cd int OUTPUT,
			@fuel_cd int OUTPUT, @km_range int OUTPUT, @age_years int OUTPUT, @anchor int OUTPUT,
			@predicted_price int OUTPUT, @predicted_min int OUTPUT, @predicted_max int OUTPUT,
			@predicted_median int OUTPUT, @predicted_std int OUTPUT, @rec_segment int OUTPUT,
			@map_anchor int OUTPUT, @year_med_anchor int OUTPUT, @med_anchor int OUTPUT, 
			@rec_model nvarchar(30) OUTPUT
',
@record_make = @record_make, 
@record_model = @record_model, 
@record_body = @record_body,  
@record_fueltype = @record_fueltype,  
@record_kilometer = @record_kilometer,  
@record_makeyear = @record_makeyear,
@reg_month = @reg_month ,   
@record_power = @record_power,
@record_sizeccm = @record_sizeccm, 
@record_automat = @record_automat, 
@record_drive = @record_drive,
@mec_con = @mec_con,
@ext_con = @ext_con,
@record_isfirstowner = @record_isfirstowner,
@record_isservicebook = @record_isservicebook,
@record_isvat = @record_isvat,
@record_autoaircondition = @record_autoaircondition,
@record_airconditioned = @record_airconditioned,
@record_isxenon = @record_isxenon,
@record_isled = @record_isled, 
@record_isnavigation = @record_isnavigation,
@record_iscruisecontrol = @record_iscruisecontrol,
@record_isinleather = @record_isinleather,
@record_airbags = @record_airbags,
@record_price = @record_price,
@age = @age OUTPUT,
@make_model = @make_model OUTPUT,
@revage = @revage OUTPUT,
@revkm = @revkm OUTPUT, 
@make_cd = @make_cd OUTPUT, 
@model_cd = @model_cd OUTPUT, 
@body_cd = @body_cd OUTPUT,
@fuel_cd = @fuel_cd OUTPUT,
@km_range = @km_range OUTPUT,
@age_years = @age_years OUTPUT,
@anchor = @anchor OUTPUT,
@map_anchor = @map_anchor OUTPUT,
@year_med_anchor = @year_med_anchor OUTPUT,
@med_anchor = @med_anchor OUTPUT,
@predicted_price = @predicted_price OUTPUT,
@predicted_min = @predicted_min OUTPUT,
@predicted_max = @predicted_max OUTPUT,
@predicted_median = @predicted_median OUTPUT,
@predicted_std = @predicted_std OUTPUT,
@rec_segment = @rec_segment OUTPUT,
@rec_model = @rec_model OUTPUT
;

INSERT INTO coded_DB_anchor4_record
VALUES ( @record_make, @record_model,@make_model, @record_kilometer, @record_makeyear, @record_power,
         @record_sizeccm, @record_body, @record_fueltype, @record_automat, @record_drive,
		 @mec_con, @ext_con, @record_isfirstowner, @record_isservicebook, @record_isvat, 
		 @record_autoaircondition, @record_airconditioned, @record_isxenon, @record_isled, 
		 @record_isnavigation, @record_iscruisecontrol, @record_isinleather, @record_airbags, 
		 @age, @revage, @revkm, @make_cd, @model_cd, @body_cd, @fuel_cd, @km_range, @age_years,
		 @rec_segment, 0,0,0,0, @record_price, 0);

SET @rec_segment = (SELECT anch.tscode
FROM dbo.TSorder_DB_codes anch INNER JOIN coded_DB_anchor4_record cotb
ON cotb.make_model=anch.make_model )
;
UPDATE coded_DB_anchor4_record
SET segment = @rec_segment 
WHERE model=@rec_model;

SET @anchor = (SELECT anch.anchor 
FROM dbo.Sauto_all20178_main_anchors anch INNER JOIN coded_DB_anchor4_record cotb
ON cotb.make_model=anch.make_model AND cotb.age_years=anch.age_years AND cotb.km_range=anch.km_range 
    AND cotb.[power]=anch.[power] )
;
IF (ISNUMERIC(@anchor) = 1)
    UPDATE coded_DB_anchor4_record
    SET anchor = @anchor  WHERE model=@rec_model;

SET @map_anchor = (SELECT anch.anchor_map 
FROM dbo.Sauto_all20178_map_nokm_anchors anch INNER JOIN coded_DB_anchor4_record cotb
ON cotb.make_model=anch.make_model AND cotb.age_years=anch.age_years AND cotb.[power]=anch.[power]);
IF (ISNUMERIC(@map_anchor) = 1)
    UPDATE coded_DB_anchor4_record
    SET map_anchor = @map_anchor WHERE model=@rec_model;
 
SET @year_med_anchor = (SELECT anch.anchor 
FROM dbo.Sauto_all2017_DB_mm_years_anchors anch INNER JOIN coded_DB_anchor4_record cotb
ON cotb.make_model=anch.make_model AND cotb.makeyear=anch.make_year );
IF (ISNUMERIC(@year_med_anchor) = 1)
    UPDATE coded_DB_anchor4_record
    SET year_med_anchor = @year_med_anchor WHERE model=@rec_model;

SET @med_anchor = (SELECT anch.anchor 
FROM dbo.Sauto_all2017_DB_make_model_anchors anch INNER JOIN coded_DB_anchor4_record cotb
ON cotb.make_model=anch.make_model );
IF (ISNUMERIC(@med_anchor) = 1)
    UPDATE coded_DB_anchor4_record
    SET med_anchor = @med_anchor WHERE model=@rec_model;

DECLARE  @rafo_model VARBINARY(MAX)
IF @rec_segment > 120   
    SET @rafo_model = (SELECT rafo_model FROM dbo.RAFO_IFC_DB_anchor_121models_3
    WHERE car_segment= 121 )
ELSE  
    SET @rafo_model = (SELECT rafo_model FROM dbo.RAFO_IFC_DB_anchor_121models_3 
    WHERE car_segment= @rec_segment );  

EXECUTE dbo.price_record_DB_calculation @rafo_model = @rafo_model,
                                        @predicted_price = @predicted_price OUTPUT,
                                        @predicted_min =  @predicted_min OUTPUT,
										@predicted_max =  @predicted_max OUTPUT,
										@predicted_median =  @predicted_median OUTPUT,
										@predicted_std =  @predicted_std OUTPUT

UPDATE coded_DB_anchor4_record
SET pred_price = @predicted_price
WHERE model=@rec_model;

INSERT INTO pricing_results
VALUES ( @predicted_price, @predicted_min, @predicted_max, @predicted_median,  @predicted_std  );


END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[price_record_DB_calculation]    Script Date: 6/29/2018 3:46:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[price_record_DB_calculation]( 
                                               @rafo_model VARBINARY(MAX),
                                               @anchor int OUTPUT,
										       @predicted_price int OUTPUT,
                                               @predicted_min int OUTPUT,
										       @predicted_max int OUTPUT,
											   @predicted_median int OUTPUT,
										       @predicted_std int OUTPUT
                                                )
AS
BEGIN
  EXEC sp_execute_external_script
  @language = N'Python',
  @script = N'
    
import pandas as pd
import numpy as np
import pickle
from ipykernel import kernelapp as app
from sklearn.ensemble import RandomForestRegressor

if ((cars1.loc[0,"anchor"]==0)&(cars1.loc[0,"map_anchor"]>0)):
    cars1.loc[0,"anchor"] = cars1.loc[0,"map_anchor"]
   
if ((cars1.loc[0,"anchor"]==0)&(cars1.loc[0,"map_anchor"]==0)&(cars1.loc[0,"year_med_anchor"]>0)):
    cars1.loc[0,"anchor"] = cars1.loc[0,"year_med_anchor"]

if ((cars1.loc[0,"anchor"]==0)&(cars1.loc[0,"map_anchor"]==0)&(cars1.loc[0,"med_anchor"]>0)):
    cars1.loc[0,"anchor"] = cars1.loc[0,"med_anchor"]

pred_varTop = ["body_cd","fuel_cd","revkm","revage","power","sizeccm","automat","drive","mec_con",
               "ext_con","isfirstowner","isservicebook","isvat","autoaircondition","airconditioned",
               "isxenon","isled","isnavigation","iscruisecontrol","isinleather","airbags","anchor"]
pred_var = ["make_cd","model_cd","body_cd","fuel_cd","revkm","revage","power","sizeccm","automat",
            "drive","mec_con","ext_con","isfirstowner","isservicebook","isvat","autoaircondition",
			"airconditioned","isxenon","isled","isnavigation","iscruisecontrol","isinleather",
			"airbags","anchor"]
rafo = pickle.loads(rafo_model)
if (cars1.loc[0,"segment"] < 121):
    test_X = cars1[pred_varTop]
else:
    test_X = cars1[pred_var] 
test_y = cars1.price
nt = 33
tree_vals = [0]*nt
i = 0
for tree in range(nt):
    tree_vals[i] = int(rafo.estimators_[tree].predict(test_X)[0])
    i+=1
tree_vals_ary = np.array(tree_vals)
tree_vals_ary = np.sort(tree_vals_ary)
tree_vals_ary = np.delete(tree_vals_ary, np.s_[:int(nt/4)])
tree_vals_ary = np.delete(tree_vals_ary, np.s_[int(1+nt/2):])
cars1.loc[0,"pred_price"] = int(tree_vals_ary.mean())
predicted_price = int(cars1.loc[0,"pred_price"])
predicted_min = int(tree_vals_ary.min())
predicted_max = int(tree_vals_ary.max())
predicted_median = int(np.median(tree_vals_ary))
predicted_std = int(tree_vals_ary.std()) 
cars1.loc[0,"price"] = int(cars1.loc[0,"price"])
cars1.loc[0,"anchor"] = int(cars1.loc[0,"anchor"])
cars1.loc[0,"kilometer"] = int(cars1.loc[0,"kilometer"] -1)
if (cars1.loc[0,"anchor"] ==0):
    predicted_price = 0
    predicted_min = 0
    predicted_max = 0
anchor = int(cars1.loc[0,"anchor"])
OutputDataSet = cars1
',

@input_data_1 = N'
SELECT * FROM dbo.coded_DB_anchor4_record
',
@input_data_1_name = N'cars1',
@output_data_1_name = N'cars',
@params = N' @rafo_model varbinary(max) OUTPUT, @anchor int OUTPUT,
             @predicted_price int OUTPUT, @predicted_min int OUTPUT, @predicted_max int OUTPUT,
			 @predicted_median int OUTPUT, @predicted_std int OUTPUT ',
@rafo_model = @rafo_model,
@anchor = @anchor OUTPUT,
@predicted_price = @predicted_price OUTPUT,
@predicted_min =  @predicted_min OUTPUT,
@predicted_max =  @predicted_max OUTPUT,
@predicted_median =  @predicted_median OUTPUT,
@predicted_std =  @predicted_std OUTPUT
;

END

In [ ]:
ALTER PROCEDURE [dbo].[all_on_click] 
AS
BEGIN
EXEC dbo.Sauto_preprocessing78 ;
EXEC dbo.Sauto_brand_mmcode_calculating78 ;
EXEC dbo.Sauto_anchors_calculating78 ;
EXEC dbo.Sauto_map_anchors_calculating78 ;
EXEC dbo.Sauto_mm_years_anchors_calculating78 ;
EXEC dbo.Sauto_make_model_anchors_calculating78 ;
EXEC dbo.sold20168_DB_TS_cars_processing ;                    # calls dbo.sold20168_TS_cars_MMcoding
EXEC dbo.sold20168_DB_TS_cars_anchoring ;                     # calls dbo.sold20168_TS_cars_ts_ordering
EXEC dbo.calculations_121_limit68_DB_RAFO_models ;
EXEC dbo.bought2018_Test_cars_processing46 ;
EXEC dbo.bought2018_Test_cars_anchoring ;

END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[Sauto_preprocessing78]    Script Date: 6/29/2018 3:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sauto_preprocessing78] 
AS
BEGIN
DROP TABLE IF EXISTS dbo.Sauto_for_anchors_allMM;
CREATE TABLE dbo.Sauto_for_anchors_allMM ([make] [nvarchar](20) NULL,
	                                    [model] [nvarchar](20) NULL,
										[make_model] [nvarchar](40) NULL,
						    			[makeyear] [int] NULL,
							    	    [kilometer] [int] NULL,
	                                    [power] [int] NULL,
                                    	[price] [int] NULL,
							    		[seller] [nvarchar](128) NULL );
									
DROP TABLE IF EXISTS dbo.Sauto_for_anchoring78;
CREATE TABLE dbo.Sauto_for_anchoring78 ([make] [nvarchar](20) NULL,
	                                    [model] [nvarchar](20) NULL,
									    [make_model] [nvarchar](40) NULL,
						    		    [makeyear] [int] NULL,
							    	    [kilometer] [int] NULL,
	                                    [power] [int] NULL,
									    [price] [int] NULL  );

INSERT INTO dbo.Sauto_for_anchors_allMM
SELECT [Make],[Model],[Make]+[Model] AS [make_model],[Makeyear],[Tachometer],[Power],[Price],[SellerName]
FROM [CZPHAAASQL16\DM].[DataMining2].[dbo].[DmXmls] WHERE ServerId=1  AND
	 [DateIn] BETWEEN '2017-01-01' AND '2018-03-31';

INSERT dbo.Sauto_for_anchoring78 EXEC
sp_execute_external_script
@language = N'Python',
@script = N'
import pandas as pd
from ipykernel import kernelapp as app
import pypyodbc as podbc
import numpy as np

cars = cars[(cars.seller!="AAA AUTO")&(cars.seller!="Mototechna")&(cars.seller!="AUTO DISKONT")]
del cars ["seller"]
del cars ["m_m_comb_dm"]
cars = cars.rename(columns={"m_m_comb_navi":"make_model_trans"})
cars["make_model_trans"].fillna("0",inplace=True)
missing_trans = cars[cars.make_model_trans=="0"] 
cars.loc[cars.make_model_trans=="0","make_model_trans"] = cars["make_model"]
del cars["make_model"]
cars = cars.rename(columns={"make_model_trans":"make_model"})
cars.dropna( inplace=True)
cars["make_model"] = cars["make_model"].apply(lambda mm: mm.lower()) 
cols_to_int = ["makeyear","kilometer","power","price"]
ctilen = len(cols_to_int)
for i in range(0, ctilen):
    cars[cols_to_int[i]] = cars[cols_to_int[i]].apply(lambda ct: int(ct))
cols_to_keep = ["make","model","make_model","makeyear","kilometer","power","price"]  
cars = cars[cols_to_keep]
cars.dropna(inplace=True)
cars = cars[(cars.makeyear>0)&(cars.kilometer>0)&(cars.power>0)&(cars.price>0)]
OutputDataSet = cars
',
@input_data_1 = N'
SELECT * FROM dbo.Sauto_for_anchors_allMM ss JOIN dbo.trans_make_model tm 
         ON ss.[make_model] = tm.[m_m_comb_dm] 
',
@input_data_1_name = N'cars',
@output_data_1_name = N'cars' 

END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[Sauto_brand_mmcode_calculating78]    Script Date: 6/29/2018 3:32:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sauto_brand_mmcode_calculating78] 
AS
BEGIN
DROP TABLE IF EXISTS dbo.brand_DB_mmcode78
CREATE TABLE dbo.brand_DB_mmcode78 ([make_model] [nvarchar](40) NULL,
                                  [counts] [int] NULL, 
                                  [mmcode] [int] NULL );
									
INSERT dbo.brand_DB_mmcode78 EXEC
sp_execute_external_script
@language = N'Python',
@script = N'
import pandas as pd
from ipykernel import kernelapp as app
import pypyodbc as podbc
import numpy as np

allbrands = cars["make_model"].unique()
blen = len(allbrands)
brand_count = [0]*blen
for i in range(0,blen):
    brand_count[i] = cars[cars.make_model==allbrands[i]]["make_model"].count()
brandDF = pd.DataFrame()
brandDF["make_model"] = allbrands    
brandDF["counts"] = brand_count   
brandDF = brandDF.sort_values("counts",ascending=False)  
brandDF["mmcode"] = np.arange(blen)
brands = brandDF["make_model"].unique()
brandDF.dropna( inplace=True)
OutputDataSet = brandDF
',
@input_data_1 = N'
SELECT * FROM dbo.Sauto_for_anchoring78
',
@input_data_1_name = N'cars',
@output_data_1_name = N'brandDF' 

END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[Sauto_anchors_calculating78]    Script Date: 6/29/2018 3:33:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sauto_anchors_calculating78] 
AS
BEGIN
DROP TABLE IF EXISTS dbo.Sauto_all20178_DB_anchors
CREATE TABLE dbo.Sauto_all20178_DB_anchors ([make_model] [nvarchar](40) NULL,
                                           [mmcode] [int] NULL,
						    			   [age_years] [int] NULL,
							    	       [km_range] [int] NULL,
	                                       [power] [int] NULL,
                                    	   [anchor] [int] NULL );

INSERT dbo.Sauto_all20178_DB_anchors
EXEC sp_execute_external_script
@language = N'Python',
@script = N'
import pandas as pd
from ipykernel import kernelapp as app
import pypyodbc as podbc
import numpy as np

def to_2000(yy):
    if (yy<2000):
        return 2000
    return yy
def over_2017(yy):
    if (yy>2017):
        return 2017
    return yy
cars["makeyear"] = cars["makeyear"].apply(to_2000)
cars["makeyear"] = cars["makeyear"].apply(over_2017)
cars["age"] = cars["makeyear"].apply(lambda my: 2018-my)
calen = len(cars)
def find_range(myp):
    if (myp<=10):
        return 0
    if ((myp>10)&(myp<=30)):
        return 1
    if ((myp>30)&(myp<=50)):
        return 2
    if ((myp>50)&(myp<=70)):
        return 3
    if ((myp>70)&(myp<=90)):
        return 4
    if ((myp>90)&(myp<=110)):
        return 5
    if ((myp>110)&(myp<=130)):
        return 6
    if ((myp>130)&(myp<=150)):
        return 7
    if ((myp>150)&(myp<=170)):
        return 8
    if ((myp>170)&(myp<=190)):
        return 9
    if ((myp>190)&(myp<=220)):
        return 10
    if ((myp>220)&(myp<=250)):
        return 11
    if ((myp>250)&(myp<=300)):
        return 12
    return 13

kilometer_range_count = pd.DataFrame()
ranglen = 14
cars["kilometer"] = cars["kilometer"].apply(lambda km: float("%.3f" %(km/1000)))
cars["km_range"] = cars["kilometer"].apply(find_range)
cars["km_range"] = cars["km_range"].apply(lambda pr:int(pr))
cars.sort_values("km_range",ascending=True, inplace=True)
rangcount = [0]*ranglen
rangprice = [0]*ranglen
for i in range(0, ranglen):
    rangcount[i] = cars[cars.km_range==i]["km_range"].count()
    rangprice[i] = cars[cars.km_range==i]["price"].median()
kilometer_range_count["anchoring_count"] = rangcount 
kilometer_range_count["price"] = rangprice
kilometer_range_count["price"] = kilometer_range_count["price"].apply(lambda mk: int(mk)) 
allbrands = cars["make_model"].unique()
blen = len(allbrands)
brand_count = [0]*blen
for i in range(0,blen):
    brand_count[i] = cars[cars.make_model==allbrands[i]]["make_model"].count()
brandDF = pd.DataFrame()
brandDF["make_model"] = allbrands    
brandDF["counts"] = brand_count   
brandDF = brandDF.sort_values("counts",ascending=False)  
brandDF["mmcode"] = np.arange(blen)
brands = brandDF["make_model"].unique()
brandDF.dropna( inplace=True)
cars = pd.merge(cars, brandDF, on="make_model", how="outer")
cars.sort_values(["mmcode","makeyear","km_range","power"], ascending=[True,False,True,True], inplace=True )
cars_meds = cars.groupby(["mmcode","make_model","age","km_range","power"])["price"].median()
cars_medians = cars_meds.to_frame()
cars_medians = cars_medians.reset_index(level=["mmcode","make_model","age","km_range","power"])
cars_medians = cars_medians.rename(columns={"age":"age_years","price":"anchor"})
cars_medians["anchor"] = cars_medians["anchor"].apply(lambda pp: int(pp))
coltk = ["make_model","mmcode","age_years","km_range", "power","anchor"]
cars_medians = cars_medians[coltk]

OutputDataSet = cars_medians
',
@input_data_1 = N'
SELECT * FROM dbo.Sauto_for_anchoring78
',
@input_data_1_name = N'cars',
@output_data_1_name = N'cars_medians' 

END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[Sauto_map_anchors_calculating78]    Script Date: 7/2/2018 3:48:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sauto_map_anchors_calculating78] 
AS
BEGIN
DROP TABLE IF EXISTS dbo.Sauto_all20178_DB_map_anchors
CREATE TABLE dbo.Sauto_all20178_DB_map_anchors ([make_model] [nvarchar](40) NULL,
                                                [mmcode] [int] NULL,
						    			        [age_years] [int] NULL,
							    	            [power] [int] NULL,
                                    	        [map_anchor] [int] NULL );

INSERT dbo.Sauto_all20178_DB_map_anchors
EXEC sp_execute_external_script
@language = N'Python',
@script = N'
import pandas as pd
from ipykernel import kernelapp as app
import pypyodbc as podbc
import numpy as np

def to_2000(yy):
    if (yy<2000):
        return 2000
    return yy
def over_2017(yy):
    if (yy>2017):
        return 2017
    return yy
cars["makeyear"] = cars["makeyear"].apply(to_2000)
cars["makeyear"] = cars["makeyear"].apply(over_2017)
cars["age"] = cars["makeyear"].apply(lambda my: 2018-my)
calen = len(cars)
allbrands = cars["make_model"].unique()
blen = len(allbrands)
brand_count = [0]*blen
for i in range(0,blen):
    brand_count[i] = cars[cars.make_model==allbrands[i]]["make_model"].count()
brandDF = pd.DataFrame()
brandDF["make_model"] = allbrands    
brandDF["counts"] = brand_count   
brandDF = brandDF.sort_values("counts",ascending=False)  
brandDF["mmcode"] = np.arange(blen)
brands = brandDF["make_model"].unique()
brandDF.dropna( inplace=True)
cars = pd.merge(cars, brandDF, on="make_model", how="outer")
cars_meds = cars.groupby(["mmcode","make_model","age","power"])["price"].median()
cars_medians = cars_meds.to_frame()
cars_medians = cars_medians.reset_index(level=["mmcode","make_model","age","power"])
cars_medians = cars_medians.rename(columns={"age":"age_years","price":"anchor"})
cars_medians["anchor"] = cars_medians["anchor"].apply(lambda pp: int(pp))
coltk = ["make_model","mmcode","age_years","power","anchor"]
cars_medians = cars_medians[coltk]

OutputDataSet = cars_medians
',
@input_data_1 = N'
SELECT * FROM dbo.Sauto_for_anchoring78
',
@input_data_1_name = N'cars',
@output_data_1_name = N'cars_medians' 

END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[Sauto_mm_years_anchors_calculating78]    Script Date: 6/29/2018 3:34:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sauto_mm_years_anchors_calculating78] 
AS
BEGIN

DROP TABLE IF EXISTS dbo.Sauto_all20178_DB_mm_years_anchors
CREATE TABLE dbo.Sauto_all20178_DB_mm_years_anchors ([make_model] [nvarchar](40) NULL,
                                                     [mmcode] [int] NULL,
													 [make_year] [int] NULL,
													 [anchor] [int] NULL );
									

INSERT dbo.Sauto_all20178_DB_mm_years_anchors
EXEC sp_execute_external_script
@language = N'Python',
@script = N'
import pandas as pd
from ipykernel import kernelapp as app
import pypyodbc as podbc
import numpy as np

def to_2000(yy):
    if (yy<2000):
        return 2000
    return yy
def over_2017(yy):
    if (yy>2017):
        return 2017
    return yy
cars["makeyear"] = cars["makeyear"].apply(to_2000)
cars["makeyear"] = cars["makeyear"].apply(over_2017)
cars.sort_values(["mmcode","makeyear"], ascending=[True,False], inplace=True )
cars_years_meds = cars.groupby(["mmcode","make_model","makeyear"])["price"].median()
cars_years_medians = cars_years_meds.to_frame()
cars_years_medians = cars_years_medians.reset_index(level=["mmcode","make_model","makeyear"])
cars_years_medians = cars_years_medians.rename(columns={"makeyear":"make_year","price":"anchor"})
coltk = ["make_model","mmcode","make_year","anchor"]
cars_years_medians["anchor"] = cars_years_medians["anchor"].apply(lambda cc:int(cc))
cars_years_medians = cars_years_medians[coltk]
OutputDataSet = cars_years_medians
',
@input_data_1 = N'
SELECT ss.make_model, tm.mmcode, ss.makeyear, ss.price FROM dbo.Sauto_for_anchoring78 ss 
JOIN dbo.brand_DB_mmcode78 tm ON ss.[make_model] = tm.[make_model] ;
',
@input_data_1_name = N'cars',
@output_data_1_name = N'cars_years_medians' 

END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[Sauto_make_model_anchors_calculating78]    Script Date: 6/29/2018 3:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Sauto_make_model_anchors_calculating78] 
AS
BEGIN
DROP TABLE IF EXISTS dbo.Sauto_all20178_DB_make_model_anchors
CREATE TABLE dbo.Sauto_all20178_DB_make_model_anchors ([make_model] [nvarchar](40) NULL,
                                                      [mmcode] [int] NULL,
												      [anchor] [int] NULL );
									

INSERT dbo.Sauto_all20178_DB_make_model_anchors
EXEC sp_execute_external_script
@language = N'Python',
@script = N'
import pandas as pd
from ipykernel import kernelapp as app
import pypyodbc as podbc
import numpy as np

cars.sort_values(["mmcode"], ascending=True, inplace=True )
cars_meds = cars.groupby(["mmcode","make_model"])["price"].median()
cars_medians = cars_meds.to_frame()
cars_medians = cars_medians.reset_index(level=["mmcode","make_model"])
cars_medians = cars_medians.rename(columns={"price":"anchor"})
coltk = ["make_model","mmcode","anchor"]
cars_medians["anchor"] = cars_medians["anchor"].apply(lambda cc:int(cc))
cars_medians = cars_medians[coltk]
OutputDataSet = cars_medians
',
@input_data_1 = N'
SELECT ss.make_model, tm.mmcode, ss.price FROM dbo.Sauto_for_anchoring78 ss 
JOIN dbo.brand_DB_mmcode78 tm ON ss.[make_model] = tm.[make_model] ;
',
@input_data_1_name = N'cars',
@output_data_1_name = N'cars_medians' 

END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[sold20168_DB_TS_cars_processing]    Script Date: 7/2/2018 3:49:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sold20168_DB_TS_cars_processing] 
AS
BEGIN
DROP TABLE IF EXISTS dbo.sold2016_8_DB_coded_cars;
CREATE TABLE dbo.sold2016_8_DB_coded_cars (
                                     [id] [int] NULL, 
                                     [make] [nvarchar](30) NULL,
	                                 [model] [nvarchar](30) NULL,
									 [make_model] [nvarchar](50) NULL,
								     [kilometer] [int] NULL,
	                                 [age] [int] NULL,
	                                 [power] [int] NULL,
                                	 [sizeccm] [int] NULL,
	                                 [body] [nvarchar](30) NULL,
                                	 [fueltype] [nvarchar](20) NULL,
                                  	 [automat] [int] NULL,
                                 	 [drive] [int] NULL,
									 [mec_con] [int]  NULL,
                                     [ext_con] [int] NULL,
							         [isfirstowner] [tinyint] NULL,
                                     [isservicebook] [tinyint] NULL,
                                     [isvat] [tinyint] NULL,
									 [autoaircondition] [tinyint] NULL,
									 [airconditioned] [tinyint] NULL,
									 [isxenon] [tinyint] NULL,
									 [isled] [tinyint] NULL,
									 [isnavigation] [tinyint] NULL,
									 [iscruisecontrol] [tinyint] NULL,
									 [isinleather] [tinyint] NULL, 
									 [airbags] [tinyint] NULL,
                                	 [makeyear] [int] NULL,
									 [km/1000] [float] NULL,
									 [revage] [float] NULL,
                                 	 [revkm] [float] NULL,
	                                 [make_cd] [int] NULL,
									 [model_cd] [int] NULL,
                                 	 [body_cd] [int] NULL,
	                                 [fuel_cd] [int] NULL,
									 [price] [int] NULL,
									 [days_on] [int] NULL );
DROP TABLE IF EXISTS dbo.sold2016_8_DB_numerical_cars;
CREATE TABLE dbo.sold2016_8_DB_numerical_cars (
                                     [id] [int] NULL, 
                                     [make] [nvarchar](30) NULL,
	                                 [model] [nvarchar](30) NULL,
									 [makeyear] [int] NULL,
								     [kilometer] [int] NULL,
	                                 [power] [int] NULL,
                                	 [sizeccm] [int] NULL,
	                                 [body] [nvarchar](30) NULL,
                                	 [fueltype] [nvarchar](20) NULL,
									 [make_model] [nvarchar](50) NULL,
                                  	 [automat] [int] NULL,
                                 	 [drive] [int] NULL,
									 [mec_con] [nvarchar](20) NULL,
                                     [ext_con] [nvarchar](20) NULL,
							         [isfirstowner] [tinyint] NULL,
                                     [isservicebook] [tinyint] NULL,
                                     [isvat] [tinyint] NULL,
									 [autoaircondition] [tinyint] NULL,
									 [airconditioned] [tinyint] NULL,
									 [isxenon] [tinyint] NULL,
									 [isled] [tinyint] NULL,
									 [isnavigation] [tinyint] NULL,
									 [iscruisecontrol] [tinyint] NULL,
									 [isinleather] [tinyint] NULL, 
									 [airbags] [tinyint] NULL,
                                	 [make_cd] [int] NULL,
									 [model_cd] [int] NULL,
                                 	 [body_cd] [int] NULL,
	                                 [fuel_cd] [int] NULL,
									 [price] [int] NULL,
									 [days_on] [int] NULL,
									 [on_year] [int] NULL,
									 [on_month] [int] NULL,
									 [reg_month] [int] NULL);
DROP TABLE IF EXISTS dbo.sold2016_8_DB_raw_cars;
CREATE TABLE dbo.sold2016_8_DB_raw_cars(
                                     [id] [int] NULL, 
                                     [make] [nvarchar](30) NULL,
	                                 [model] [nvarchar](30) NULL,
									 [makeyear] [int] NULL,
									 [kilometer] [int] NULL,
	                                 [power] [int] NULL,
                                	 [sizeccm] [int] NULL,
	                                 [body] [nvarchar](30) NULL,
                                     [fueltype] [nvarchar](20) NULL,
									 [make_model] [nvarchar](50) NULL,
                                  	 [automat] [int] NULL,
                                 	 [drive] [int] NULL,
									 [mec_con] [nvarchar](20) NULL,
                                     [ext_con] [nvarchar](20) NULL,
							         [isfirstowner] [tinyint] NULL,
                                     [isservicebook] [tinyint] NULL,
                                     [isvat] [tinyint] NULL,
									 [autoaircondition] [tinyint] NULL,
									 [airconditioned] [tinyint] NULL,
									 [isxenon] [tinyint] NULL,
									 [isled] [tinyint] NULL,
									 [isnavigation] [tinyint] NULL,
									 [iscruisecontrol] [tinyint] NULL,
									 [isinleather] [tinyint] NULL, 
									 [airbags] [tinyint] NULL,
                                	 [days_on] [int] NULL,
									 [price] [int] NULL,
									 [on_year] [int] NULL,
									 [on_month] [int] NULL,
									 [reg_month] [int] NULL) ;

INSERT INTO sold2016_8_DB_raw_cars
SELECT dd.[Car No] AS [id], oct.Make AS [make], oct.Model AS [model], oct.[Production Year] AS [makeyear],
oct.[Tachometer Km] AS [kilometer], oct.[Powers KW] AS [power], CAST(oct.[Size ccm] AS INT) AS [sizeccm],
oct.[Model Type] AS [body], oct.[Fuel Type] AS [fueltype],
CONCAT ( oct.[Make], oct.[Model] ) AS [make_model],
CASE WHEN oct.Gearbox IN ('Automat', 'Tiptronic', 'Robotic Automat') THEN 1 ELSE 0 END AS automat,
CASE WHEN d.Is4x4 = 1 THEN 4 ELSE 0 END AS drive, oct.[Mechanical Condition] AS 'mec_con', 
oct.[Condition] AS 'ext_con',
CASE WHEN oct.Owner = 1 THEN 1 ELSE 0 END AS 'isfirstowner',
oct.[Service Book] AS 'isservicebook', oct.[VAT Dedication] AS 'isvat',
CASE WHEN oct.[Option] LIKE '%,AAC,%' THEN 1 ELSE 0 END AS 'autoaircondition',
CASE WHEN oct.[Option] LIKE '%,AC,%' THEN 1 ELSE 0 END AS 'airconditioned',
CASE WHEN oct.[Option] LIKE '%,XE,%' OR  oct.[Option] LIKE '%,BIXEN,%' THEN 1 ELSE 0 END AS 'isxenon',
CASE WHEN oct.[Option] LIKE '%,LED,%' THEN 1 ELSE 0 END AS 'isled',
CASE WHEN oct.[Option] LIKE '%,NAVIG,%' THEN 1 ELSE 0 END AS 'isnavigation',
CASE WHEN oct.[Option] LIKE '%,PAN,%' THEN 1 ELSE 0 END AS 'iscruisecontrol',
CASE WHEN oct.[Option] LIKE '%,LS,%' THEN 1 ELSE 0 END AS 'isinleather',
CASE WHEN oct.[Option] LIKE '%,AB,%' THEN 1 ELSE 0 END AS 'airbags', dd.[days on display] AS [days_on],
CAST(dd.[Selling Price] AS FLOAT) AS price,
CAST(YEAR(dd.[Original Deal Date]) AS INT) AS [on_year], 
CAST(MONTH(dd.[Original Deal Date]) AS INT) AS [on_month],
CAST(MONTH(oct.[First Registration Date]) AS INT) AS [reg_month]
FROM [PPV].[dbo].[Fact_SalesDealDetail] dd JOIN [PPV].dbo.online_CarTracking oct ON oct.[Car No]=dd.[Car No] 
JOIN [PPV].dbo.ctrl_Dim_Drive d ON d.Drive = oct.Drive WHERE dd.Last_deal_sold = 1 
AND dd.[Company Name] NOT IN ('CZ Auto Diskont', 'SK Auto Diskont') 
AND dd.[Original Deal Date] BETWEEN '2016-04-01' AND '2017-03-31' AND dd.[Country Code] = 'CZ';

EXEC [dbo].[sold20168_TS_cars_MMcoding] ;

DROP TABLE IF EXISTS #makes
CREATE TABLE #makes  ( make nvarchar(20) ,
                       make_cd int );
INSERT INTO #makes ( make, make_cd ) VALUES

('Lincoln',1),('Fisker',2),('Rover',3),('Iveco',4),('Infiniti',5),('Porsche',6),('Lexus',7),
('Lancia',8),('Mercedes',9),('BMW',10),('Hummer',11),('Opel',12),('MINI',13),('Fiat',14),('Volvo',15),
('Toyota',16),('Renault',17),('Smart',18),('Nissan',19),('Seat',20),('Daewoo',21),('Ford',22),
('Honda',23),('Peugeot',24),('Audi',25),('Subaru',26),('Citroen',27),('Skoda',28),('VW',29),
('Chevrolet',30),('Mitsubishi',31),('Mazda',32),('Kia',33),('Hyundai',34),('Land Rover',35),
('Jeep',36),('Jaguar',37),('Alfa Romeo',38),('Suzuki',39),('Chrysler',40),('Dacia',41),('Dodge',42),
('Saab',43),('Cadillac',44),('Ssang Yong',45),('VAZ-Lada',46),('DS',47),('Daihatsu',48),('GAZ',49),
('Isuzu',50),('Alpina',51),('Maserati',52),('Bentley',53);

DROP TABLE IF EXISTS #bodies
CREATE TABLE #bodies  ( body nvarchar(20) ,
                        body_cd int );
INSERT INTO #bodies ( body, body_cd ) VALUES
('',0),('Platform',1),('Van',2),('Tipper',3),('Tow car',4),('Sedan/Saloon',5),('Hatchback',6),
('Combi',7),('MPV',8),('Coupe',9),('SUV',10),('Compact MPV',11),('Bus',12),('Pickup',13),
('Off road',14),('Cooler - Freezer',15),('Convertible',16),('BoxVan',17);

DROP TABLE IF EXISTS #fuels
CREATE TABLE #fuels  (  fueltype nvarchar(20) ,
                        fuel_cd int );
INSERT INTO #fuels ( fueltype, fuel_cd ) VALUES
('Diesel',1),('Petrol',2),('CNG',3),('LPG',4),('Hybrid',5),('Elektromotor',6);

INSERT sold2016_8_DB_numerical_cars 
SELECT tct.id, tct.make,tct.model,tct.makeyear,tct.kilometer,tct.[power],tct.sizeccm,tct.body,
       tct.fueltype,tct.make_model,tct.automat,tct.drive,tct.mec_con,tct.ext_con,tct.isfirstowner,
	   tct.isservicebook,tct.isvat,tct.autoaircondition,tct.airconditioned,tct.isxenon,tct.isled,
	   tct.isnavigation,tct.iscruisecontrol,tct.isinleather,tct.airbags,mkc.make_cd,mmc.model_cd,
	   bbc.body_cd,ffc.fuel_cd,tct.price,tct.days_on,tct.on_year,tct.on_month,tct.reg_month
	      
FROM dbo.sold2016_8_DB_raw_cars tct
LEFT JOIN #makes mkc ON tct.make = mkc.make
LEFT JOIN dbo.MakeModel_codes78 mmc ON tct.make_model = mmc.make_model
LEFT JOIN #bodies bbc ON tct.body = bbc.body
LEFT JOIN #fuels ffc ON tct.fueltype = ffc.fueltype;
 
INSERT dbo.sold2016_8_DB_coded_cars
EXEC
sp_execute_external_script
@language = N'Python',
@script = N'
import pandas as pd
from ipykernel import kernelapp as app
import pypyodbc as podbc
import numpy as np
                    
cars.drop_duplicates(["id"], keep="first", inplace=True)
calen = len(cars)
def fill_num(mc):
    if(mc==""):
        return 4
    if(mc=="ŠROT"):
        return 0
    if(mc=="PIG"):
        return 1
    if(mc=="BAV-"):
        return 2
    if(mc=="BAV"):
        return 3
    if(mc=="AV"):
        return 5
    if(mc=="AAV"):
        return 6      
    if(mc=="NEW"):
        return 7
    return 8
cars["mec_con"] = cars["mec_con"].apply(fill_num)
cars["ext_con"] = cars["ext_con"].apply(fill_num)
cols_to_fill = ["make","model","make_model","body","fueltype"]
def clear_spaces(mm):
    if (mm.endswith(" ")):
        return mm[:-1]
    return mm
def fill_blank(mmbf):
    if ((mmbf=="")==True):
        return "0"
    return mmbf
def to_lower(ww):
    return ww.lower()
for j in range(0,5):
    cars[cols_to_fill[j]] = cars[cols_to_fill[j]].apply(to_lower)
    cars[cols_to_fill[j]] = cars[cols_to_fill[j]].apply(clear_spaces)
    cars[cols_to_fill[j]] = cars[cols_to_fill[j]].apply(fill_blank)
cars = cars[(cars.make!="0")&(cars.model!="0")]
cars = cars[(cars.body!="0")&(cars.fueltype!="0")]
cars["kilometer"] = cars["kilometer"].apply(lambda kk: kk+1)    
cars["price"] = cars["price"]. apply(lambda kk: int(kk+1))
cars["age"] = 2*((cars["on_year"]-cars["makeyear"])*12+(cars["on_month"]-cars["reg_month"]))+1
def to_int(tt):
    return int(tt)
impr_features = ["isfirstowner","isservicebook","isvat","autoaircondition","airconditioned","isxenon","isled",
                 "isnavigation","iscruisecontrol","isinleather","airbags"]
ilen = len(impr_features)
for i in range(0,ilen):
    cars[impr_features[i]].apply(lambda kk: int(kk)) 
cars = cars.dropna()
calen = len(cars)
cars["km/1000"] = cars["kilometer"]/1000
mage = 28050
mkm = 19793
cars["revage"] = mage/cars["age"]
cars["revkm"] = mkm/cars["km/1000"]
cars["revage"] = cars["revage"].apply(lambda rr: float("%.2f" %rr))
cars["revkm"] = cars["revkm"].apply(lambda rr: float("%.2f" %rr))
cars["price"] = cars["price"].apply(lambda rr: int(rr))
cars["age"] = cars["age"].apply(lambda rr: int(rr))
cars["kilometer"] = cars["kilometer"].apply(lambda rr: float("%.3f" %rr))
ctk=["id", "make", "model", "make_model", "kilometer", "age", "power", "sizeccm", "body", "fueltype",
"automat", "drive", "mec_con", "ext_con", "isfirstowner", "isservicebook", "isvat", "autoaircondition",
"airconditioned", "isxenon", "isled", "isnavigation", "iscruisecontrol", "isinleather", "airbags",
"makeyear", "km/1000", "revage", "revkm", "make_cd", "model_cd", "body_cd", "fuel_cd", "price", "days_on"]
cars = cars[ctk] 
OutputDataSet = cars
',
@input_data_1 = N'
SELECT * FROM dbo.sold2016_8_DB_numerical_cars
',
@input_data_1_name = N'cars',
@output_data_1_name = N'cars' 
 

END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[sold20168_TS_cars_MMcoding]    Script Date: 7/2/2018 3:58:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sold20168_TS_cars_MMcoding] 
AS
BEGIN
DROP TABLE IF EXISTS dbo.MakeModel_codes78;
CREATE TABLE dbo.MakeModel_codes78 ( [make_model] [nvarchar](50) NULL,
								   [model_cd] [int] NULL);

INSERT dbo.MakeModel_codes78
EXEC
sp_execute_external_script
@language = N'Python',
@script = N'
import pandas as pd
from ipykernel import kernelapp as app
import pypyodbc as podbc
import numpy as np
           
my_key = "days_on"
allbrands = cars["make_model"].unique()
blen = len(allbrands)
brand_count = [0]*blen
brand_means = [0]*blen
for i in range(0,blen):
    brand_count[i] = cars[cars.make_model==allbrands[i]]["make_model"].count()
    brand_means[i] = np.int64(round(cars[cars.make_model==allbrands[i]][my_key].mean(),0))
brandDF = pd.DataFrame()
brandDF["make_model"] = allbrands    
brandDF["key_means"] = brand_means   
brandDF = brandDF.sort_values("key_means",ascending=False)  
brandDF["model_cd"] = 1+np.arange(blen)
del brandDF["key_means"]
OutputDataSet = brandDF
',
@input_data_1 = N'
SELECT * FROM dbo.sold2016_8_DB_raw_cars
',
@input_data_1_name = N'cars',
@output_data_1_name = N'brandDF' 
 

END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[sold20168_DB_TS_cars_anchoring]    Script Date: 7/2/2018 3:59:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sold20168_DB_TS_cars_anchoring] 
AS
BEGIN
DROP TABLE IF EXISTS dbo.sold2016_8_DB_anchored_cars;
CREATE TABLE dbo.sold2016_8_DB_anchored_cars (
                                     [id] [int] NULL, 
                                     [make] [nvarchar](30) NULL,
	                                 [model] [nvarchar](30) NULL,
									 [make_model] [nvarchar](50) NULL,
									 [makeyear] [int] NULL,
								     [kilometer] [int] NULL,
	                                 [age] [int] NULL,
	                                 [power] [int] NULL,
                                	 [sizeccm] [int] NULL,
	                                 [body] [nvarchar](30) NULL,
                                	 [fueltype] [nvarchar](20) NULL,
                                  	 [automat] [int] NULL,
                                 	 [drive] [int] NULL,
									 [mec_con] [int]  NULL,
                                     [ext_con] [int] NULL,
							         [isfirstowner] [tinyint] NULL,
                                     [isservicebook] [tinyint] NULL,
                                     [isvat] [tinyint] NULL,
									 [autoaircondition] [tinyint] NULL,
									 [airconditioned] [tinyint] NULL,
									 [isxenon] [tinyint] NULL,
									 [isled] [tinyint] NULL,
									 [isnavigation] [tinyint] NULL,
									 [iscruisecontrol] [tinyint] NULL,
									 [isinleather] [tinyint] NULL, 
									 [airbags] [tinyint] NULL,
                                	 [revage] [float] NULL,
                                 	 [revkm] [float] NULL,
	                                 [make_cd] [int] NULL,
									 [model_cd] [int] NULL,
                                 	 [body_cd] [int] NULL,
	                                 [fuel_cd] [int] NULL,
									 [price] [int] NULL,
									 [anchor] [int] NULL,
									 [tscode] [int] NULL);

DROP TABLE IF EXISTS dbo.sold2016_8_DB_pre_anchor_cars;
CREATE TABLE dbo.sold2016_8_DB_pre_anchor_cars (
                                     [id] [int] NULL, 
                                     [make] [nvarchar](30) NULL,
	                                 [model] [nvarchar](30) NULL,
									 [make_model] [nvarchar](50) NULL,
									 [makeyear] [int] NULL,
								     [kilometer] [int] NULL,
	                                 [age] [int] NULL,
	                                 [power] [int] NULL,
                                	 [sizeccm] [int] NULL,
	                                 [body] [nvarchar](30) NULL,
                                	 [fueltype] [nvarchar](20) NULL,
                                  	 [automat] [int] NULL,
                                 	 [drive] [int] NULL,
									 [mec_con] [int]  NULL,
                                     [ext_con] [int] NULL,
							         [isfirstowner] [tinyint] NULL,
                                     [isservicebook] [tinyint] NULL,
                                     [isvat] [tinyint] NULL,
									 [autoaircondition] [tinyint] NULL,
									 [airconditioned] [tinyint] NULL,
									 [isxenon] [tinyint] NULL,
									 [isled] [tinyint] NULL,
									 [isnavigation] [tinyint] NULL,
									 [iscruisecontrol] [tinyint] NULL,
									 [isinleather] [tinyint] NULL, 
									 [airbags] [tinyint] NULL,
                                	 [revage] [float] NULL,
                                 	 [revkm] [float] NULL,
	                                 [make_cd] [int] NULL,
									 [model_cd] [int] NULL,
                                 	 [body_cd] [int] NULL,
	                                 [fuel_cd] [int] NULL,
									 [price] [int] NULL,
									 [km_range] [int] NULL,
									 [age_years] [int] NULL,
									 [make_year] [int] NULL);
INSERT dbo.sold2016_8_DB_pre_anchor_cars
EXEC sp_execute_external_script
@language = N'Python',
@script = N'
import pandas as pd
from ipykernel import kernelapp as app
import pypyodbc as podbc
import numpy as np
def fix_models(mm):
    if (mm=="fordfocus c-max"):
        return "fordfocus"
    if (mm=="renaultmegane scenic"):
        return "renaultscenic"
    if (mm=="opelzafira tourer"):
        return "opelzafira"
    if (mm=="seataltea xl"):
        return "seataltea"
    if (mm=="mazda323"):
        return "mazda3"
    if (mm=="nissanalmera tino"):
        return "nissanalmera"
    if (mm=="mercedesgle coupe"): 
        return "mercedesgle"                  
    if (mm=="kiapro_ceed"):
        return "kiaceed"
    if (mm=="hyundaiatos prime"):
        return "hyundaiatos"
    if (mm=="hyundaih-1 tour"):
        return "hyundaih-1"
    if (mm=="chryslerp. t. cruiser"):
        return "chryslerp. t. cruiser"
    if (mm=="toyotaland cruiser v8"):
        return "toyotaland cruiser"
    if (mm=="audiallroad a4"):
        return "audiallroad"
    return mm
cars["make_model"] = cars["make_model"].apply(fix_models)
def find_range(myp):
    if (myp<=10):
        return 0
    if ((myp>10)&(myp<=30)):
        return 1
    if ((myp>30)&(myp<=50)):
        return 2
    if ((myp>50)&(myp<=70)):
        return 3
    if ((myp>70)&(myp<=90)):
        return 4
    if ((myp>90)&(myp<=110)):
        return 5
    if ((myp>110)&(myp<=130)):
        return 6
    if ((myp>130)&(myp<=150)):
        return 7
    if ((myp>150)&(myp<=170)):
        return 8
    if ((myp>170)&(myp<=190)):
        return 9
    if ((myp>190)&(myp<=220)):
        return 10
    if ((myp>220)&(myp<=250)):
        return 11
    if ((myp>250)&(myp<=300)):
        return 12
    return 13
def from2000_to_2017(yy):
    if(yy<2000):
        return 2000
    if(yy>2017):
        return 2017
    return yy
cars["km_range"] = cars["km/1000"].apply(find_range)
cars["km_range"] = cars["km_range"].apply(lambda km: int(km))
cars["age_years"] = cars["makeyear"].apply(lambda km: int(2018-km))
cars["make_year"] = cars["makeyear"].apply(from2000_to_2017)
del cars["kilometer"]
cars = cars.rename(columns={"km/1000":"kilometer"})
ctk=["id","make","model","make_model","makeyear","kilometer","age","power","sizeccm","body","fueltype",
"automat","drive","mec_con","ext_con","isfirstowner","isservicebook","isvat","autoaircondition",
"airconditioned","isxenon","isled","isnavigation", "iscruisecontrol","isinleather","airbags",
"revage","revkm","make_cd","model_cd","body_cd","fuel_cd","price","km_range","age_years","make_year"]
cars = cars[ctk] 
OutputDataSet = cars
',
@input_data_1 = N'
SELECT * FROM dbo.sold2016_8allsC_DB_coded_cars
',
@input_data_1_name = N'cars',
@output_data_1_name = N'cars' 

EXEC [dbo].[sold20168_TS_cars_ts_ordering] ;

DROP TABLE IF EXISTS dbo.sold2016_8_DB_mid_anchored_cars;
CREATE TABLE dbo.sold2016_8_DB_mid_anchored_cars (
                                     [id] [int] NULL, 
                                     [make] [nvarchar](30) NULL,
	                                 [model] [nvarchar](30) NULL,
									 [make_model] [nvarchar](50) NULL,
									 [makeyear] [int] NULL,
								     [kilometer] [int] NULL,
	                                 [age] [int] NULL,
	                                 [power] [int] NULL,
                                	 [sizeccm] [int] NULL,
	                                 [body] [nvarchar](30) NULL,
                                	 [fueltype] [nvarchar](20) NULL,
                                  	 [automat] [int] NULL,
                                 	 [drive] [int] NULL,
									 [mec_con] [int]  NULL,
                                     [ext_con] [int] NULL,
							         [isfirstowner] [tinyint] NULL,
                                     [isservicebook] [tinyint] NULL,
                                     [isvat] [tinyint] NULL,
									 [autoaircondition] [tinyint] NULL,
									 [airconditioned] [tinyint] NULL,
									 [isxenon] [tinyint] NULL,
									 [isled] [tinyint] NULL,
									 [isnavigation] [tinyint] NULL,
									 [iscruisecontrol] [tinyint] NULL,
									 [isinleather] [tinyint] NULL, 
									 [airbags] [tinyint] NULL,
                                	 [revage] [float] NULL,
                                 	 [revkm] [float] NULL,
	                                 [make_cd] [int] NULL,
									 [model_cd] [int] NULL,
                                 	 [body_cd] [int] NULL,
	                                 [fuel_cd] [int] NULL,
									 [med_anchor] [int] DEFAULT 0,
									 [year_med_anchor] [int] DEFAULT 0,
									 [map_anchor] [int] DEFAULT 0,
									 [anchor] [int] DEFAULT 0,
									 [price] [int] NULL,
									 [tscode] [int] NULL
									  );
INSERT sold2016_8_DB_mid_anchored_cars 
SELECT tct.id, tct.make,tct.model,tct.make_model,tct.makeyear,tct.kilometer,tct.age,tct.[power],
       tct.sizeccm,tct.body,tct.fueltype,tct.automat,tct.drive,tct.mec_con,tct.ext_con,tct.isfirstowner,
	   tct.isservicebook,tct.isvat,tct.autoaircondition,tct.airconditioned,tct.isxenon,tct.isled,
	   tct.isnavigation,tct.iscruisecontrol,tct.isinleather,tct.airbags,tct.revage,tct.revkm,tct.make_cd,
	   tct.model_cd,tct.body_cd,tct.fuel_cd,
	   CASE WHEN ISNUMERIC(msa.anchor)=1 THEN msa.anchor ELSE 0 END,
	   CASE WHEN ISNUMERIC(ysa.anchor)=1 THEN ysa.anchor ELSE 0 END,
	   CASE WHEN ISNUMERIC(psa.map_anchor)=1 THEN psa.map_anchor ELSE 0 END,
	   CASE WHEN ISNUMERIC(ssa.anchor)=1 THEN ssa.anchor ELSE 0 END,
	   tct.price,ort.tscode
FROM dbo.sold2016_8_DB_pre_anchor_cars tct 
LEFT JOIN dbo.Sauto_all20178_DB_make_model_anchors msa 
ON tct.make_model=msa.make_model
LEFT JOIN dbo.Sauto_all20178_DB_mm_years_anchors ysa 
ON tct.make_model=ysa.make_model AND tct.make_year=ysa.make_year 
LEFT JOIN dbo.Sauto_all20178_DB_map_anchors psa 
ON tct.make_model=psa.make_model AND tct.age_years=psa.age_years AND tct.[power]=psa.[power]  
LEFT JOIN dbo.Sauto_all20178_DB_anchors ssa
ON tct.make_model=ssa.make_model AND tct.age_years=ssa.age_years AND tct.km_range=ssa.km_range AND
tct.[power]=ssa.[power]

LEFT JOIN dbo.TSorder_DB_codes68 ort 
ON tct.make_model=ort.make_model 

DROP TABLE IF EXISTS dbo.sold2016_8_DB_anchored_cars;
CREATE TABLE dbo.sold2016_8_DB_anchored_cars (
                                     [id] [int] NULL, 
                                     [make] [nvarchar](30) NULL,
	                                 [model] [nvarchar](30) NULL,
									 [make_model] [nvarchar](50) NULL,
									 [makeyear] [int] NULL,
								     [kilometer] [int] NULL,
	                                 [age] [int] NULL,
	                                 [power] [int] NULL,
                                	 [sizeccm] [int] NULL,
	                                 [body] [nvarchar](30) NULL,
                                	 [fueltype] [nvarchar](20) NULL,
                                  	 [automat] [int] NULL,
                                 	 [drive] [int] NULL,
									 [mec_con] [int]  NULL,
                                     [ext_con] [int] NULL,
							         [isfirstowner] [tinyint] NULL,
                                     [isservicebook] [tinyint] NULL,
                                     [isvat] [tinyint] NULL,
									 [autoaircondition] [tinyint] NULL,
									 [airconditioned] [tinyint] NULL,
									 [isxenon] [tinyint] NULL,
									 [isled] [tinyint] NULL,
									 [isnavigation] [tinyint] NULL,
									 [iscruisecontrol] [tinyint] NULL,
									 [isinleather] [tinyint] NULL, 
									 [airbags] [tinyint] NULL,
                                	 [revage] [float] NULL,
                                 	 [revkm] [float] NULL,
	                                 [make_cd] [int] NULL,
									 [model_cd] [int] NULL,
                                 	 [body_cd] [int] NULL,
	                                 [fuel_cd] [int] NULL,
									 [med_anchor] [int] DEFAULT 0,
									 [year_med_anchor] [int] DEFAULT 0,
									 [map_anchor] [int] DEFAULT 0,
									 [anchor] [int] DEFAULT 0,
									 [price] [int] NULL,
									 [anchor_cat] [int] NULL,
									 [tscode] [int] NULL );


INSERT dbo.sold2016_8_DB_anchored_cars
EXEC sp_execute_external_script
@language = N'Python',
@script = N'
import pandas as pd
from ipykernel import kernelapp as app
import pypyodbc as podbc
import numpy as np

cars.loc[((cars.anchor==0)&(cars.map_anchor!=0)),"anchor"] = cars["map_anchor"]
cars.loc[((cars.map_anchor==0)&(cars.year_med_anchor!=0)),"anchor"] = cars["year_med_anchor"]
cars.loc[((cars.year_med_anchor==0)&(cars.med_anchor!=0)),"anchor)"] = cars["med_anchor"]
cars = cars.rename(columns={"med_anchor":"mm_anchor","year_med_anchor":"ym_anchor"})
cars.loc[((cars.anchor!=cars.map_anchor)&(cars.map_anchor!=0)),"anchor_cat"] = 1
cars.loc[((cars.anchor==cars.map_anchor)&(cars.map_anchor!=0)),"anchor_cat"] = 2
cars.loc[((cars.map_anchor==0)&(cars.anchor==cars.ym_anchor)),"anchor_cat"] = 3
cars.loc[((cars.map_anchor==0)&(cars.anchor==cars.mm_anchor)),"anchor_cat"] = 4
cars.loc[(cars.anchor==0),"anchor_cat"] = 0

cars["tscode"] = cars["tscode"].apply(lambda ts: int(ts))
cols_to_keep=["id","make","model","make_model","makeyear","kilometer","age","power","sizeccm","body",
              "fueltype","automat","drive","mec_con","ext_con","isfirstowner","isservicebook","isvat",
			  "autoaircondition","airconditioned","isxenon","isled","isnavigation","iscruisecontrol",
			  "isinleather","airbags","revage","revkm","make_cd","model_cd","body_cd","fuel_cd",
			  "mm_anchor","ym_anchor","map_anchor","anchor","price","anchor_cat","tscode"]
cars = cars[cols_to_keep] 
cars = cars[cars.anchor!=0]

OutputDataSet = cars
',
@input_data_1 = N'
SELECT * FROM dbo.sold2016_8_DB_mid_anchored_cars
',
@input_data_1_name = N'cars',
@output_data_1_name = N'cars'

END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[sold20168_TS_cars_ts_ordering]    Script Date: 7/2/2018 4:00:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sold20168_TS_cars_ts_ordering] 
AS
BEGIN

DROP TABLE IF EXISTS dbo.TSorder_DB_codes68;
CREATE TABLE dbo.TSorder_DB_codes68 ( [make_model] [nvarchar](50) NULL,
                                      [counts] [int] NULL,
								      [tscode] [int] NULL);


INSERT dbo.TSorder_DB_codes68
EXEC
sp_execute_external_script
@language = N'Python',
@script = N'
import pandas as pd
from ipykernel import kernelapp as app
import pypyodbc as podbc
import numpy as np
           
allbrands = cars["make_model"].unique()
blen = len(allbrands)
brand_count = [0]*blen
for i in range(0,blen):
    brand_count[i] = cars[cars.make_model==allbrands[i]]["make_model"].count()
brandDF = pd.DataFrame()
brandDF["make_model"] = allbrands    
brandDF["counts"] = brand_count   
brandDF = brandDF.sort_values("counts",ascending=False)  
brandDF["tscode"] = 1+np.arange(blen)
OutputDataSet = brandDF
',
@input_data_1 = N'
SELECT * FROM dbo.sold2016_8_DB_pre_anchor_cars
',
@input_data_1_name = N'cars',
@output_data_1_name = N'brandDF' 
 

END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[calculations_121_limit68_DB_RAFO_models]    Script Date: 7/2/2018 4:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[calculations_121_limit68_DB_RAFO_models]
AS
BEGIN

DROP TABLE IF EXISTS dbo.RAFO_limit68_DB_121models

CREATE TABLE dbo.RAFO_limit68_DB_121models
(   car_segment INT,
    make_model VARCHAR(40),
    rafo_model VARBINARY(MAX)
) 
  DECLARE @segcount INT = 121
  DECLARE @segment INT = 1
  DECLARE @trained_model VARBINARY(MAX)

  WHILE (@segment < @segcount)  
  BEGIN 
  DECLARE @make_model VARCHAR(40)=(SELECT make_model FROM TSorder_DB_codes68
                                                     WHERE tscode = @segment);
  EXEC [dbo].[calculation_RAFO_limitDB_uni_model] 
                                @make_model=@make_model, @trained_model = @trained_model OUTPUT

  INSERT INTO RAFO_limit68_DB_121models (car_segment,make_model,rafo_model) 
  VALUES(@segment,@make_model, @trained_model);
  SET @segment = @segment + 1
  END

DECLARE @trained_model0 VARBINARY(MAX)
EXEC dbo.calculation_RAFO_limitDB_121st_model @trained_model= @trained_model0 OUTPUT

INSERT INTO RAFO_limit68_DB_121models (car_segment,make_model,rafo_model) 
VALUES(121,'outTop120', @trained_model0);

END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[calculation_RAFO_limitDB_uni_model]    Script Date: 7/2/2018 4:32:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[calculation_RAFO_limitDB_uni_model]
                                  (@make_model VARCHAR(40), @trained_model varbinary(max) OUTPUT)
AS
BEGIN
  EXEC sp_execute_external_script
  @language = N'Python',
  @script = N'
    
import pandas as pd
import numpy as np
import pickle
from ipykernel import kernelapp as app
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

prediction_var = ["body_cd","fuel_cd","revkm","revage","power","sizeccm","automat","drive","mec_con",
                  "ext_con","isfirstowner","isservicebook","isvat","autoaircondition","airconditioned",
                  "isxenon","isled","isnavigation","iscruisecontrol","isinleather","airbags","anchor"]
mycars = cars[cars.make_model==make_model]
rafo = RandomForestRegressor(n_estimators=33, max_depth=33, max_features=16, random_state=42 )
X = mycars[prediction_var]
y = mycars["price"]
X_tr, X_test, y_tr, y_test = train_test_split(X,y,test_size=0.10,random_state=42)
rafo.fit(X_tr,y_tr) 
trained_model = pickle.dumps(rafo)
',

@input_data_1 = N'
SELECT * FROM dbo.sold2016_8_DB_anchored_cars
',
@input_data_1_name = N'cars',
@params = N'@make_model VARCHAR(40), @trained_model varbinary(max) OUTPUT',
@trained_model = @trained_model OUTPUT,
@make_model = @make_model 
;

END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[calculation_RAFO_limitDB_121st_model]    Script Date: 7/2/2018 4:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[calculation_RAFO_limitDB_121st_model]( @trained_model varbinary(max) OUTPUT)
AS
BEGIN

  EXEC sp_execute_external_script
  @language = N'Python',
  @script = N'
    
import pandas as pd
import numpy as np
import pickle
from ipykernel import kernelapp as app
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

cars = cars[cars.tscode>120]
prediction_var = ["make_cd","model_cd","body_cd","fuel_cd","revkm","revage","power","sizeccm","automat",
                  "drive","mec_con","ext_con","isfirstowner","isservicebook","isvat","autoaircondition",
				  "airconditioned","isxenon","isled","isnavigation","iscruisecontrol","isinleather",
				  "airbags","anchor"]
rafo = RandomForestRegressor(n_estimators=33, max_depth=33, max_features=18, random_state=42 )
X = cars[prediction_var]
y = cars["price"]
X_tr, X_test, y_tr, y_test = train_test_split(X,y,test_size=0.10,random_state=42)
rafo.fit(X_tr,y_tr) 
trained_model = pickle.dumps(rafo)
',

@input_data_1 = N'
SELECT * FROM dbo.sold2016_8_DB_anchored_cars
',
@input_data_1_name = N'cars',
@params = N' @trained_model varbinary(max) OUTPUT',
@trained_model = @trained_model OUTPUT
;
END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[bought2018_Test_cars_processing46]    Script Date: 7/2/2018 4:00:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[bought2018_Test_cars_processing46] 
AS
BEGIN
DROP TABLE IF EXISTS dbo.bought2018_DB_Test_coded_cars;
CREATE TABLE dbo.bought2018_DB_Test_coded_cars (
                                     [id] [int] NULL, 
                                     [make] [nvarchar](30) NULL,
	                                 [model] [nvarchar](30) NULL,
									 [make_model] [nvarchar](50) NULL,
								     [kilometer] [int] NULL,
	                                 [age] [int] NULL,
	                                 [power] [int] NULL,
                                	 [sizeccm] [int] NULL,
	                                 [body] [nvarchar](30) NULL,
                                	 [fueltype] [nvarchar](20) NULL,
                                  	 [automat] [int] NULL,
                                 	 [drive] [int] NULL,
									 [mec_con] [int]  NULL,
                                     [ext_con] [int] NULL,
							         [isfirstowner] [tinyint] NULL,
                                     [isservicebook] [tinyint] NULL,
                                     [isvat] [tinyint] NULL,
									 [autoaircondition] [tinyint] NULL,
									 [airconditioned] [tinyint] NULL,
									 [isxenon] [tinyint] NULL,
									 [isled] [tinyint] NULL,
									 [isnavigation] [tinyint] NULL,
									 [iscruisecontrol] [tinyint] NULL,
									 [isinleather] [tinyint] NULL, 
									 [airbags] [tinyint] NULL,
                                	 [makeyear] [int] NULL,
									 [km/1000] [float] NULL,
									 [revage] [float] NULL,
                                 	 [revkm] [float] NULL,
	                                 [make_cd] [int] NULL,
									 [model_cd] [int] NULL,
                                 	 [body_cd] [int] NULL,
	                                 [fuel_cd] [int] NULL,
									 [price] [int] NULL  );
DROP TABLE IF EXISTS dbo.bought2018_DB_Test_numerical_cars;
CREATE TABLE dbo.bought2018_DB_Test_numerical_cars (
                                     [id] [nvarchar](30) NULL,  
                                     [make] [nvarchar](30) NULL,
	                                 [model] [nvarchar](30) NULL,
									 [makeyear] [int] NULL,
								     [kilometer] [int] NULL,
	                                 [power] [int] NULL,
                                	 [sizeccm] [int] NULL,
	                                 [body] [nvarchar](30) NULL,
                                	 [fueltype] [nvarchar](20) NULL,
									 [make_model] [nvarchar](50) NULL,
                                  	 [automat] [int] NULL,
                                 	 [drive] [int] NULL,
									 [mec_con] [nvarchar](20) NULL,
                                     [ext_con] [nvarchar](20) NULL,
							         [isfirstowner] [tinyint] NULL,
                                     [isservicebook] [tinyint] NULL,
                                     [isvat] [tinyint] NULL,
									 [autoaircondition] [tinyint] NULL,
									 [airconditioned] [tinyint] NULL,
									 [isxenon] [tinyint] NULL,
									 [isled] [tinyint] NULL,
									 [isnavigation] [tinyint] NULL,
									 [iscruisecontrol] [tinyint] NULL,
									 [isinleather] [tinyint] NULL, 
									 [airbags] [tinyint] NULL,
                                	 [make_cd] [int] NULL,
									 [model_cd] [int] NULL,
                                 	 [body_cd] [int] NULL,
	                                 [fuel_cd] [int] NULL,
									 [price] [int] NULL,
									 [reg_month] [int] NULL);
DROP TABLE IF EXISTS dbo.bought2018_DB_Test_raw_cars;
CREATE TABLE dbo.bought2018_DB_Test_raw_cars(
                                     [id] [nvarchar](30) NULL, 
                                     [make] [nvarchar](30) NULL,
	                                 [model] [nvarchar](30) NULL,
									 [makeyear] [int] NULL,
									 [kilometer] [int] NULL,
	                                 [power] [int] NULL,
                                	 [sizeccm] [int] NULL,
	                                 [body] [nvarchar](30) NULL,
                                     [fueltype] [nvarchar](20) NULL,
									 [make_model] [nvarchar](50) NULL,
                                  	 [automat] [int] NULL,
                                 	 [drive] [int] NULL,
									 [mec_con] [nvarchar](20) NULL,
                                     [ext_con] [nvarchar](20) NULL,
							         [isfirstowner] [tinyint] NULL,
                                     [isservicebook] [tinyint] NULL,
                                     [isvat] [tinyint] NULL,
									 [autoaircondition] [tinyint] NULL,
									 [airconditioned] [tinyint] NULL,
									 [isxenon] [tinyint] NULL,
									 [isled] [tinyint] NULL,
									 [isnavigation] [tinyint] NULL,
									 [iscruisecontrol] [tinyint] NULL,
									 [isinleather] [tinyint] NULL, 
									 [airbags] [tinyint] NULL,
                                	 [price] [int] NULL,
									 [reg_month] [int] NULL) ;

INSERT INTO bought2018_DB_Test_raw_cars
SELECT cc.[Car No] AS [id], oct.Make AS [make], oct.Model AS [model], oct.[Production Year] AS [makeyear],
oct.[Tachometer Km] AS [kilometer], oct.[Powers KW] AS [power], CAST(oct.[Size ccm] AS INT) AS [sizeccm],
oct.[Model Type] AS [body], oct.[Fuel Type] AS [fueltype],
CONCAT ( oct.[Make], oct.[Model] ) AS [make_model],
CASE WHEN oct.Gearbox IN ('Automat', 'Tiptronic', 'Robotic Automat') THEN 1 ELSE 0 END AS automat,
CASE WHEN oct.Drive='4WD' THEN 4 ELSE 0 END AS drive, oct.[Mechanical Condition] AS 'mec_con', 
oct.[Condition] AS 'ext_con',
CASE WHEN oct.Owner = 1 THEN 1 ELSE 0 END AS 'isfirstowner',
oct.[Service Book] AS 'isservicebook', oct.[VAT Dedication] AS 'isvat',
CASE WHEN oct.[Option] LIKE '%,AAC,%' THEN 1 ELSE 0 END AS 'autoaircondition',
CASE WHEN oct.[Option] LIKE '%,AC,%' THEN 1 ELSE 0 END AS 'airconditioned',
CASE WHEN oct.[Option] LIKE '%,XE,%' OR  oct.[Option] LIKE '%,BIXEN,%' THEN 1 ELSE 0 END AS 'isxenon',
CASE WHEN oct.[Option] LIKE '%,LED,%' THEN 1 ELSE 0 END AS 'isled',
CASE WHEN oct.[Option] LIKE '%,NAVIG,%' THEN 1 ELSE 0 END AS 'isnavigation',
CASE WHEN oct.[Option] LIKE '%,PAN,%' THEN 1 ELSE 0 END AS 'iscruisecontrol',
CASE WHEN oct.[Option] LIKE '%,LS,%' THEN 1 ELSE 0 END AS 'isinleather',
CASE WHEN oct.[Option] LIKE '%,AB,%' THEN 1 ELSE 0 END AS 'airbags', 
CAST(cc.[Selling Price] AS FLOAT) AS price,
CAST(MONTH(oct.[First Registration Date]) AS INT) AS [reg_month]
FROM [PPV].[dbo].[online_CarTracking] oct JOIN [PPV].[dbo].[online_CarPriceCostProfit_Calc] cc
ON cc.[aaaid] = oct.[aaaid] AND cc.[Country Code]=oct.[Country Code]
WHERE ([Buying Date] BETWEEN '2018-04-01' AND '2018-06-06' AND cc.[Country Code] = 'CZ'  
AND oct.[Company Name] NOT IN ('CZ Auto Diskont', 'SK Auto Diskont') 
AND [Buying Status] IN (9,10));

DROP TABLE IF EXISTS #makes
CREATE TABLE #makes  ( make nvarchar(20) ,
                       make_cd int );
INSERT INTO #makes ( make, make_cd ) VALUES
('Lincoln',1),('Fisker',2),('Rover',3),('Iveco',4),('Infiniti',5),('Porsche',6),('Lexus',7),
('Lancia',8),('Mercedes',9),('BMW',10),('Hummer',11),('Opel',12),('MINI',13),('Fiat',14),('Volvo',15),
('Toyota',16),('Renault',17),('Smart',18),('Nissan',19),('Seat',20),('Daewoo',21),('Ford',22),
('Honda',23),('Peugeot',24),('Audi',25),('Subaru',26),('Citroen',27),('Skoda',28),('VW',29),
('Chevrolet',30),('Mitsubishi',31),('Mazda',32),('Kia',33),('Hyundai',34),('Land Rover',35),
('Jeep',36),('Jaguar',37),('Alfa Romeo',38),('Suzuki',39),('Chrysler',40),('Dacia',41),('Dodge',42),
('Saab',43),('Cadillac',44),('Ssang Yong',45),('VAZ-Lada',46),('DS',47),('Daihatsu',48),('GAZ',49),
('Isuzu',50),('Alpina',51),('Maserati',52),('Bentley',53);

DROP TABLE IF EXISTS #bodies
CREATE TABLE #bodies  ( body nvarchar(20) ,
                        body_cd int );
INSERT INTO #bodies ( body, body_cd ) VALUES
('',0),('Platform',1),('Van',2),('Tipper',3),('Tow car',4),('Sedan/Saloon',5),('Hatchback',6),
('Combi',7),('MPV',8),('Coupe',9),('SUV',10),('Compact MPV',11),('Bus',12),('Pickup',13),
('Off road',14),('Cooler - Freezer',15),('Convertible',16),('BoxVan',17);

DROP TABLE IF EXISTS #fuels
CREATE TABLE #fuels  (  fueltype nvarchar(20) ,
                        fuel_cd int );
INSERT INTO #fuels ( fueltype, fuel_cd ) VALUES
('Diesel',1),('Petrol',2),('CNG',3),('LPG',4),('Hybrid',5),('Elektromotor',6);

INSERT bought2018_DB_Test_numerical_cars 
SELECT tct.id, tct.make,tct.model,tct.makeyear,tct.kilometer,tct.[power],tct.sizeccm,tct.body,
       tct.fueltype,tct.make_model,tct.automat,tct.drive,tct.mec_con,tct.ext_con,tct.isfirstowner,
	   tct.isservicebook,tct.isvat,tct.autoaircondition,tct.airconditioned,tct.isxenon,tct.isled,
	   tct.isnavigation,tct.iscruisecontrol,tct.isinleather,tct.airbags,mkc.make_cd,mmc.model_cd,
	   bbc.body_cd,ffc.fuel_cd,tct.price,tct.reg_month
	      
FROM dbo.bought2018_DB_Test_raw_cars tct
INNER JOIN #makes mkc ON tct.make = mkc.make
INNER JOIN dbo.MakeModel_codes mmc ON tct.make_model = mmc.make_model
INNER JOIN #bodies bbc ON tct.body = bbc.body
INNER JOIN #fuels ffc ON tct.fueltype = ffc.fueltype;
 
INSERT dbo.bought2018_DB_Test_coded_cars
EXEC
sp_execute_external_script
@language = N'Python',
@script = N'
import pandas as pd
from ipykernel import kernelapp as app
import pypyodbc as podbc
import numpy as np
import datetime

cur_month = int(str(datetime.datetime.now())[5:7])
cars.drop_duplicates(["id"], keep="first", inplace=True)
calen = len(cars)
cars["id"] = cars["id"].apply(lambda idi: int(idi)) 
def fill_num(mc):
    if(mc==""):
        return 4
    if(mc=="ŠROT"):
        return 0
    if(mc=="PIG"):
        return 1
    if(mc=="BAV-"):
        return 2
    if(mc=="BAV"):
        return 3
    if(mc=="AV"):
        return 5
    if(mc=="AAV"):
        return 6      
    if(mc=="NEW"):
        return 7
    return 8
cars["mec_con"] = cars["mec_con"].apply(fill_num)
cars["ext_con"] = cars["ext_con"].apply(fill_num)
cols_to_fill = ["make","model","make_model","body","fueltype"]
def clear_spaces(mm):
    if (mm.endswith(" ")):
        return mm[:-1]
    return mm
def fill_blank(mmbf):
    if ((mmbf=="")==True):
        return "0"
    return mmbf
def to_lower(ww):
    return ww.lower()
for j in range(0,5):
    cars[cols_to_fill[j]] = cars[cols_to_fill[j]].apply(to_lower)
    cars[cols_to_fill[j]] = cars[cols_to_fill[j]].apply(clear_spaces)
    cars[cols_to_fill[j]] = cars[cols_to_fill[j]].apply(fill_blank)
cars = cars[(cars.make!="0")&(cars.model!="0")]
cars = cars[(cars.body!="0")&(cars.fueltype!="0")]
cars["kilometer"] = cars["kilometer"].apply(lambda kk: kk+1)    
cars["price"] = cars["price"]. apply(lambda kk: int(kk+1))
cars["age"] = 2*((2018-cars["makeyear"])*12+cur_month-cars["reg_month"])+1  
def to_int(tt):
    return int(tt)
impr_features = ["isfirstowner","isservicebook","isvat","autoaircondition","airconditioned","isxenon","isled",
                 "isnavigation","iscruisecontrol","isinleather","airbags"]
ilen = len(impr_features)
for i in range(0,ilen):
    cars[impr_features[i]].apply(lambda kk: int(kk)) 
cars = cars.dropna()
calen = len(cars)
cars["km/1000"] = cars["kilometer"]/1000
mage = 28050
mkm = 19793
cars["revage"] = mage/cars["age"]
cars["revkm"] = mkm/cars["km/1000"]
cars["revage"] = cars["revage"].apply(lambda rr: float("%.2f" %rr))
cars["revkm"] = cars["revkm"].apply(lambda rr: float("%.2f" %rr))
cars["price"] = cars["price"].apply(lambda rr: int(rr))
cars["age"] = cars["age"].apply(lambda rr: int(rr))
cars["kilometer"] = cars["kilometer"].apply(lambda rr: float("%.3f" %rr))
ctk=["id", "make", "model", "make_model", "kilometer", "age", "power", "sizeccm", "body", "fueltype",
"automat", "drive", "mec_con", "ext_con", "isfirstowner", "isservicebook", "isvat", "autoaircondition",
"airconditioned", "isxenon", "isled", "isnavigation", "iscruisecontrol", "isinleather", "airbags",
"makeyear", "km/1000", "revage", "revkm", "make_cd", "model_cd", "body_cd", "fuel_cd", "price"]
cars = cars[ctk] 
OutputDataSet = cars
',
@input_data_1 = N'
SELECT * FROM dbo.bought2018_DB_Test_numerical_cars
',
@input_data_1_name = N'cars',
@output_data_1_name = N'cars' 
 

END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[bought2018_Test_cars_anchoring46]    Script Date: 7/2/2018 4:01:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[bought2018_Test_cars_anchoring46] 
AS
BEGIN

DROP TABLE IF EXISTS dbo.bought2018_Test_pre_anchor_cars;
CREATE TABLE dbo.bought2018_Test_pre_anchor_cars (
                                     [id] [int] NULL, 
                                     [make] [nvarchar](30) NULL,
	                                 [model] [nvarchar](30) NULL,
									 [make_model] [nvarchar](50) NULL,
									 [makeyear] [int] NULL,
								     [kilometer] [int] NULL,
	                                 [age] [int] NULL,
	                                 [power] [int] NULL,
                                	 [sizeccm] [int] NULL,
	                                 [body] [nvarchar](30) NULL,
                                	 [fueltype] [nvarchar](20) NULL,
                                  	 [automat] [int] NULL,
                                 	 [drive] [int] NULL,
									 [mec_con] [int]  NULL,
                                     [ext_con] [int] NULL,
							         [isfirstowner] [tinyint] NULL,
                                     [isservicebook] [tinyint] NULL,
                                     [isvat] [tinyint] NULL,
									 [autoaircondition] [tinyint] NULL,
									 [airconditioned] [tinyint] NULL,
									 [isxenon] [tinyint] NULL,
									 [isled] [tinyint] NULL,
									 [isnavigation] [tinyint] NULL,
									 [iscruisecontrol] [tinyint] NULL,
									 [isinleather] [tinyint] NULL, 
									 [airbags] [tinyint] NULL,
                                	 [revage] [float] NULL,
                                 	 [revkm] [float] NULL,
	                                 [make_cd] [int] NULL,
									 [model_cd] [int] NULL,
                                 	 [body_cd] [int] NULL,
	                                 [fuel_cd] [int] NULL,
									 [price] [int] NULL,
									 [km_range] [int] NULL,
									 [age_years] [int] NULL,
									 [make_year] [int] NULL);
INSERT dbo.bought2018_Test_pre_anchor_cars
EXEC sp_execute_external_script
@language = N'Python',
@script = N'
import pandas as pd
from ipykernel import kernelapp as app
import pypyodbc as podbc
import numpy as np
def fix_models(mm):
    if (mm=="fordfocus c-max"):
        return "fordfocus"
    if (mm=="renaultmegane scenic"):
        return "renaultscenic"
    if (mm=="opelzafira tourer"):
        return "opelzafira"
    if (mm=="seataltea xl"):
        return "seataltea"
    if (mm=="mazda323"):
        return "mazda3"
    if (mm=="nissanalmera tino"):
        return "nissanalmera"
    if (mm=="mercedesgle coupe"): 
        return "mercedesgle"                  
    if (mm=="kiapro_ceed"):
        return "kiaceed"
    if (mm=="hyundaiatos prime"):
        return "hyundaiatos"
    if (mm=="hyundaih-1 tour"):
        return "hyundaih-1"
    if (mm=="chryslerp. t. cruiser"):
        return "chryslerp. t. cruiser"
    if (mm=="toyotaland cruiser v8"):
        return "toyotaland cruiser"
    if (mm=="audiallroad a4"):
        return "audiallroad"
    return mm
cars["make_model"] = cars["make_model"].apply(fix_models)
def find_range(myp):
    if (myp<=10):
        return 0
    if ((myp>10)&(myp<=30)):
        return 1
    if ((myp>30)&(myp<=50)):
        return 2
    if ((myp>50)&(myp<=70)):
        return 3
    if ((myp>70)&(myp<=90)):
        return 4
    if ((myp>90)&(myp<=110)):
        return 5
    if ((myp>110)&(myp<=130)):
        return 6
    if ((myp>130)&(myp<=150)):
        return 7
    if ((myp>150)&(myp<=170)):
        return 8
    if ((myp>170)&(myp<=190)):
        return 9
    if ((myp>190)&(myp<=220)):
        return 10
    if ((myp>220)&(myp<=250)):
        return 11
    if ((myp>250)&(myp<=300)):
        return 12
    return 13
cars["km_range"] = cars["km/1000"].apply(find_range)
cars["km_range"] = cars["km_range"].apply(lambda km: int(km))
cars["age_years"] = cars["makeyear"].apply(lambda km: int(2018-km))
def from2000_to_2017(yy):
    if(yy<2000):
        return 2000
    if(yy>2017):
        return 2017
    return yy
cars["make_year"] = cars["makeyear"].apply(from2000_to_2017)
del cars["kilometer"]
cars = cars.rename(columns={"km/1000":"kilometer"})
cars.dropna( inplace=True )
ctk=["id","make","model","make_model","makeyear","kilometer","age","power","sizeccm","body","fueltype",
"automat","drive","mec_con","ext_con","isfirstowner","isservicebook","isvat","autoaircondition",
"airconditioned","isxenon","isled","isnavigation", "iscruisecontrol","isinleather","airbags",
"revage","revkm","make_cd","model_cd","body_cd","fuel_cd","price","km_range","age_years","make_year"]
cars = cars[ctk] 
OutputDataSet = cars
',
@input_data_1 = N'
SELECT * FROM dbo.bought2018_DB_Test_coded_cars
',
@input_data_1_name = N'cars',
@output_data_1_name = N'cars'

DROP TABLE IF EXISTS dbo.bought2018_Test_mid_anchored_cars;
CREATE TABLE dbo.bought2018_Test_mid_anchored_cars (
                                     [id] [int] NULL, 
                                     [make] [nvarchar](30) NULL,
	                                 [model] [nvarchar](30) NULL,
									 [make_model] [nvarchar](50) NULL,
									 [makeyear] [int] NULL,
								     [kilometer] [int] NULL,
	                                 [age] [int] NULL,
	                                 [power] [int] NULL,
                                	 [sizeccm] [int] NULL,
	                                 [body] [nvarchar](30) NULL,
                                	 [fueltype] [nvarchar](20) NULL,
                                  	 [automat] [int] NULL,
                                 	 [drive] [int] NULL,
									 [mec_con] [int]  NULL,
                                     [ext_con] [int] NULL,
							         [isfirstowner] [tinyint] NULL,
                                     [isservicebook] [tinyint] NULL,
                                     [isvat] [tinyint] NULL,
									 [autoaircondition] [tinyint] NULL,
									 [airconditioned] [tinyint] NULL,
									 [isxenon] [tinyint] NULL,
									 [isled] [tinyint] NULL,
									 [isnavigation] [tinyint] NULL,
									 [iscruisecontrol] [tinyint] NULL,
									 [isinleather] [tinyint] NULL, 
									 [airbags] [tinyint] NULL,
                                	 [revage] [float] NULL,
                                 	 [revkm] [float] NULL,
	                                 [make_cd] [int] NULL,
									 [model_cd] [int] NULL,
                                 	 [body_cd] [int] NULL,
	                                 [fuel_cd] [int] NULL,
								     [med_anchor] [int] DEFAULT 0,
									 [year_med_anchor] [int] DEFAULT 0,
									 [map_anchor] [int] DEFAULT 0,
									 [anchor] [int] DEFAULT 0,
									 [price] [int] NULL,
									 [tscode] [int] NULL
									  );
INSERT bought2018_Test_mid_anchored_cars 
SELECT tct.id, tct.make,tct.model,tct.make_model,tct.makeyear,tct.kilometer,tct.age,tct.[power],
       tct.sizeccm,tct.body,tct.fueltype,tct.automat,tct.drive,tct.mec_con,tct.ext_con,tct.isfirstowner,
	   tct.isservicebook,tct.isvat,tct.autoaircondition,tct.airconditioned,tct.isxenon,tct.isled,
	   tct.isnavigation,tct.iscruisecontrol,tct.isinleather,tct.airbags,tct.revage,tct.revkm,tct.make_cd,
	   tct.model_cd,tct.body_cd,tct.fuel_cd,
	   CASE WHEN ISNUMERIC(msa.anchor)=1 THEN msa.anchor ELSE 0 END,
	   CASE WHEN ISNUMERIC(ysa.anchor)=1 THEN ysa.anchor ELSE 0 END,
	   CASE WHEN ISNUMERIC(psa.map_anchor)=1 THEN psa.map_anchor ELSE 0 END,
	   CASE WHEN ISNUMERIC(ssa.anchor)=1 THEN ssa.anchor ELSE 0 END,
	   tct.price,ort.tscode
FROM dbo.bought2018_Test_pre_anchor_cars tct
LEFT JOIN dbo.Sauto_all20178_DB_make_model_anchors msa 
ON tct.make_model=msa.make_model
LEFT JOIN dbo.Sauto_all20178_DB_mm_years_anchors ysa 
ON tct.make_model=ysa.make_model AND tct.make_year=ysa.make_year 
LEFT JOIN dbo.Sauto_all20178_DB_map_anchors psa 
ON tct.make_model=psa.make_model AND tct.age_years=psa.age_years AND tct.[power]=psa.[power]  
LEFT JOIN dbo.Sauto_all20178_DB_anchors ssa
ON tct.make_model=ssa.make_model AND tct.age_years=ssa.age_years AND tct.km_range=ssa.km_range AND
tct.[power]=ssa.[power]
LEFT JOIN dbo.TSorder_DB_codes68 ort 
ON tct.make_model=ort.make_model 

DROP TABLE IF EXISTS dbo.bought2018_Test_DB_anchored_cars;
CREATE TABLE dbo.bought2018_Test_DB_anchored_cars (
                                     [id] [int] NULL, 
                                     [make] [nvarchar](30) NULL,
	                                 [model] [nvarchar](30) NULL,
									 [make_model] [nvarchar](50) NULL,
									 [makeyear] [int] NULL,
								     [kilometer] [int] NULL,
	                                 [age] [int] NULL,
	                                 [power] [int] NULL,
                                	 [sizeccm] [int] NULL,
	                                 [body] [nvarchar](30) NULL,
                                	 [fueltype] [nvarchar](20) NULL,
                                  	 [automat] [int] NULL,
                                 	 [drive] [int] NULL,
									 [mec_con] [int]  NULL,
                                     [ext_con] [int] NULL,
							         [isfirstowner] [tinyint] NULL,
                                     [isservicebook] [tinyint] NULL,
                                     [isvat] [tinyint] NULL,
									 [autoaircondition] [tinyint] NULL,
									 [airconditioned] [tinyint] NULL,
									 [isxenon] [tinyint] NULL,
									 [isled] [tinyint] NULL,
									 [isnavigation] [tinyint] NULL,
									 [iscruisecontrol] [tinyint] NULL,
									 [isinleather] [tinyint] NULL, 
									 [airbags] [tinyint] NULL,
                                	 [revage] [float] NULL,
                                 	 [revkm] [float] NULL,
	                                 [make_cd] [int] NULL,
									 [model_cd] [int] NULL,
                                 	 [body_cd] [int] NULL,
	                                 [fuel_cd] [int] NULL,
									 [med_anchor] [int] DEFAULT 0,
									 [year_med_anchor] [int] DEFAULT 0,
									 [map_anchor] [int] DEFAULT 0,
									 [anchor] [int] DEFAULT 0,
									 [price] [int] NULL,
									 [anchor_cat] [int] NULL,
									 [tscode] [int] NULL );


INSERT dbo.bought2018_Test_DB_anchored_cars
EXEC sp_execute_external_script
@language = N'Python',
@script = N'
import pandas as pd
from ipykernel import kernelapp as app
import pypyodbc as podbc
import numpy as np

cars.loc[((cars.anchor==0)&(cars.map_anchor!=0)),"anchor"] = cars["map_anchor"]
cars.loc[((cars.map_anchor==0)&(cars.year_med_anchor!=0)),"anchor"] = cars["year_med_anchor"]
cars.loc[((cars.year_med_anchor==0)&(cars.med_anchor!=0)),"anchor)"] = cars["med_anchor"]
cars = cars.rename(columns={"med_anchor":"mm_anchor","year_med_anchor":"ym_anchor"})
cars.loc[((cars.anchor!=cars.map_anchor)&(cars.map_anchor!=0)),"anchor_cat"] = 1
cars.loc[((cars.anchor==cars.map_anchor)&(cars.map_anchor!=0)),"anchor_cat"] = 2
cars.loc[((cars.map_anchor==0)&(cars.anchor==cars.ym_anchor)),"anchor_cat"] = 3
cars.loc[((cars.map_anchor==0)&(cars.anchor==cars.mm_anchor)),"anchor_cat"] = 4
cars.loc[(cars.anchor==0),"anchor_cat"] = 0
cars["tscode"] = cars["tscode"].apply(lambda ts: int(ts))
cols_to_keep=["id","make","model","make_model","makeyear","kilometer","age","power","sizeccm","body",
              "fueltype","automat","drive","mec_con","ext_con","isfirstowner","isservicebook","isvat",
			  "autoaircondition","airconditioned","isxenon","isled","isnavigation","iscruisecontrol",
			  "isinleather","airbags","revage","revkm","make_cd","model_cd","body_cd","fuel_cd",
			  "mm_anchor","ym_anchor","map_anchor","anchor","price","anchor_cat","tscode"]
cars = cars[cols_to_keep] 
OutputDataSet = cars
',
@input_data_1 = N'
SELECT * FROM dbo.bought2018_Test_mid_anchored_cars
',
@input_data_1_name = N'cars',
@output_data_1_name = N'cars'

END

In [ ]:
USE [Pricing]
GO
/****** Object:  StoredProcedure [dbo].[all_on_click]    Script Date: 7/2/2018 4:25:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[all_on_click] 
AS
BEGIN
EXEC dbo.Sauto_preprocessing78 ;
EXEC dbo.Sauto_brand_mmcode_calculating78 ;
EXEC dbo.Sauto_anchors_calculating78 ;
EXEC dbo.Sauto_map_anchors_calculating78 ;
EXEC dbo.Sauto_mm_years_anchors_calculating78;
EXEC dbo.Sauto_make_model_anchors_calculating78;
EXEC dbo.sold20168_DB_TS_cars_processing;       /*** calls dbo.sold20168_TS_cars_MMcoding ***/
EXEC dbo.sold20168_DB_TS_cars_anchoring;         /*** calls dbo.sold20168_TS_cars_ts_ordering ***/
EXEC dbo.calculations_121_limit68_DB_RAFO_models; /*** calls dbo.calculation_RAFO_limitDB_uni_model ***/
                                              /*** calls dbo.calculation_RAFO_limitDB__121st_model ***/
EXEC dbo.bought2018_Test_cars_processing46 ;
EXEC dbo.bought2018_Test_cars_anchoring ;

END